In [1]:
!pip install pyspark
!pip install findspark
!pip install pandas

Collecting pyspark
  Using cached pyspark-3.4.0-py2.py3-none-any.whl
Collecting py4j==0.10.9.7
  Using cached py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.7 pyspark-3.4.0

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: pip install --upgrade pip
Collecting findspark
  Using cached findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: pip install --upgrade pip
Collecting pandas
  Using cached pandas-2.0.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.2 MB)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/gitpod/.pyenv/versions/3.11.1/lib/python3.11/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Using cached pytz-2023.3-py2.py3-none-any.whl (502 kB)
Collecting tzdata>=2022.1
  Using cached tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Collecting numpy>=1.21.0
  Using cached numpy-1.24.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.3 MB)
Requirement already satisfied: six>=1.5 in /home/gitpod/.pyenv/versions/3.11.1/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.24.3 pandas-2.0.2 pytz-2023.3 tzdata-2023.3

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: pip install --upgrade pip

In [6]:
import pandas as pd
import findspark
findspark.init()

In [7]:
from pyspark.sql import SparkSession

In [9]:
spark = SparkSession.builder.master('local[*]').getOrCreate()

Picked up JAVA_TOOL_OPTIONS:  -Xmx3489m
Picked up JAVA_TOOL_OPTIONS:  -Xmx3489m
23/06/09 17:33:52 WARN Utils: Your hostname, danilojpfre-datapipelin-l73mhae6vt9 resolves to a loopback address: 127.0.0.1; using 10.0.5.2 instead (on interface eth0)
23/06/09 17:33:52 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/06/09 17:33:52 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [10]:
spark

# Carregamendo dos Dados

## Distância entre Maceió e outras capitais

In [6]:
distPath = '/workspace/DataPipeline-TarifasAereas/datalake/landing/maceioDistCapitals.json'

In [7]:
sc = spark.sparkContext

In [10]:
dist.count()

78

In [11]:
dist.show()

+---------------+
|_corrupt_record|
+---------------+
|              /|
|              w|
|              o|
|              r|
|              k|
|              s|
|              p|
|              a|
|              c|
|              e|
|              /|
|              D|
|              a|
|              t|
|              a|
|              P|
|              i|
|              p|
|              e|
|              l|
+---------------+
only showing top 20 rows

## Preço por ano das passagens

### Carregamento dos dados

In [11]:
price2019Path = "../data/price2019/*.CSV"
price2020Path = "../data/price2020/*.CSV"
price2021Path = "../data/price2021/*.CSV"
price2022Path = "../data/price2022/*.CSV"

In [12]:
price2019 = spark.read.csv(price2019Path, sep=';', inferSchema=True)
price2020 = spark.read.csv(price2020Path, sep=';', inferSchema=True)
price2021 = spark.read.csv(price2021Path, sep=';', inferSchema=True)
price2022 = spark.read.csv(price2019Path, sep=';', inferSchema=True)

In [13]:
price2019.show()

+----+---+-------+------+-------+------+--------+
| _c0|_c1|    _c2|   _c3|    _c4|   _c5|     _c6|
+----+---+-------+------+-------+------+--------+
| ANO|MES|EMPRESA|ORIGEM|DESTINO|TARIFA|ASSENTOS|
|2019|  1|    AZU|  SBAC|   SBAR|239,90|       2|
|2019|  1|    AZU|  SBAC|   SBAR|270,90|       2|
|2019|  1|    AZU|  SBAC|   SBBR|217,90|       1|
|2019|  1|    AZU|  SBAC|   SBBR|630,90|       2|
|2019|  1|    AZU|  SBAC|   SBBV|347,90|       1|
|2019|  1|    AZU|  SBAC|   SBCF|212,90|       2|
|2019|  1|    AZU|  SBAC|   SBCF|283,90|       1|
|2019|  1|    AZU|  SBAC|   SBCF|354,90|       3|
|2019|  1|    AZU|  SBAC|   SBCF|414,90|       2|
|2019|  1|    AZU|  SBAC|   SBCF|619,90|       3|
|2019|  1|    AZU|  SBAC|   SBCG|291,90|       1|
|2019|  1|    AZU|  SBAC|   SBCH|737,90|       2|
|2019|  1|    AZU|  SBAC|   SBCR|361,90|       1|
|2019|  1|    AZU|  SBAC|   SBCY|425,90|       1|
|2019|  1|    AZU|  SBAC|   SBEG|277,90|       1|
|2019|  1|    AZU|  SBAC|   SBEG|307,90|       2|
|2019|  1|    AZU|  SBAC|   SBFL|411,90|       1|
|2019|  1|    AZU|  SBAC|   SBGL|229,90|       5|
|2019|  1|    AZU|  SBAC|   SBGL|442,90|       1|
+----+---+-------+------+-------+------+--------+
only showing top 20 rows

### Renomeando o Header

In [14]:
newHeaderColNames = ['year', 'month', 'company', 'origin', 'destination', 'price', 'seats']

In [15]:
for index, colName in enumerate(newHeaderColNames):
    price2019 = price2019.withColumnRenamed(f"_c{index}", colName)
    price2020 = price2020.withColumnRenamed(f"_c{index}", colName)
    price2021 = price2021.withColumnRenamed(f"_c{index}", colName)
    price2022 = price2022.withColumnRenamed(f"_c{index}", colName)

In [16]:
price2020.limit(5).show()

+-----------------+-----------------+------------------+--------------------+--------------------+--------+--------------------+
|             year|            month|           company|              origin|         destination|   price|               seats|
+-----------------+-----------------+------------------+--------------------+--------------------+--------+--------------------+
|Ano de Refer�ncia|M�s de Refer�ncia|ICAO Empresa A�rea|ICAO Aer�dromo Or...|ICAO Aer�dromo De...|Tarifa-N|Assentos Comercia...|
|             2020|                1|               AZU|                SBAC|                SBCF|   693,9|                   2|
|             2020|                1|               AZU|                SBAC|                SBFN|   404,9|                   2|
|             2020|                1|               AZU|                SBAC|                SBGL|  1138,9|                   1|
|             2020|                1|               AZU|                SBAC|                SBGL|   283,9|                   1|
+-----------------+-----------------+------------------+--------------------+--------------------+--------+--------------------+

In [17]:
price2019 = price2019.where('year!="ANO"')
price2020 = price2020.where('price!="Tarifa-N"')
price2021 = price2021.where('year!="ANO"')
price2022 = price2022.where('year!="ANO"')

In [18]:
price2022.limit(5).show()

+----+-----+-------+------+-----------+------+-----+
|year|month|company|origin|destination| price|seats|
+----+-----+-------+------+-----------+------+-----+
|2019|    1|    AZU|  SBAC|       SBAR|239,90|    2|
|2019|    1|    AZU|  SBAC|       SBAR|270,90|    2|
|2019|    1|    AZU|  SBAC|       SBBR|217,90|    1|
|2019|    1|    AZU|  SBAC|       SBBR|630,90|    2|
|2019|    1|    AZU|  SBAC|       SBBV|347,90|    1|
+----+-----+-------+------+-----------+------+-----+

### Selecionamento somente o aeroporto de Maceió como origem

In [19]:
price2019 = price2019.where('origin=="SBMO"')
price2020 = price2020.where('origin=="SBMO"')
price2021 = price2021.where('origin=="SBMO"')
price2022 = price2022.where('origin=="SBMO"')

In [20]:
price2020.limit(5).show()

+----+-----+-------+------+-----------+------+-----+
|year|month|company|origin|destination| price|seats|
+----+-----+-------+------+-----------+------+-----+
|2020|    1|    AZU|  SBMO|       SBAE|1363,9|    2|
|2020|    1|    AZU|  SBMO|       SBAE|1373,9|    1|
|2020|    1|    AZU|  SBMO|       SBAE|1491,9|    2|
|2020|    1|    AZU|  SBMO|       SBAE|1651,9|    1|
|2020|    1|    AZU|  SBMO|       SBAE|1661,9|    2|
+----+-----+-------+------+-----------+------+-----+

### Convertendo: String to Integer and String to Double

In [46]:
from pyspark.sql.types import DoubleType, StringType, IntegerType

In [22]:
from pyspark.sql import functions as f

#### 2019

In [23]:
price2019.printSchema()

root
 |-- year: string (nullable = true)
 |-- month: string (nullable = true)
 |-- company: string (nullable = true)
 |-- origin: string (nullable = true)
 |-- destination: string (nullable = true)
 |-- price: string (nullable = true)
 |-- seats: string (nullable = true)

In [50]:
price2019 = price2019\
    .withColumn(
    "year",
    price2019["year"].cast(IntegerType())
    )\
    .withColumn(
    "month",
    price2019["month"].cast(IntegerType())
    )\
    .withColumn(
    "seats",
    price2019["seats"].cast(IntegerType())
    )\
    .withColumn(
    "price",
    f.regexp_replace('price', ',', '.')
    )

In [51]:
price2019 = price2019\
    .withColumn(
    "price",
    price2019["price"].cast(DoubleType())
    )

In [52]:
price2019.printSchema()

root
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- company: string (nullable = true)
 |-- origin: string (nullable = true)
 |-- destination: string (nullable = true)
 |-- price: double (nullable = true)
 |-- seats: integer (nullable = true)

In [53]:
price2019.limit(10).show()

+----+-----+-------+------+-----------+------+-----+
|year|month|company|origin|destination| price|seats|
+----+-----+-------+------+-----------+------+-----+
|2019|    1|    AZU|  SBMO|       SBAC| 179.9|    2|
|2019|    1|    AZU|  SBMO|       SBAE|295.33|    2|
|2019|    1|    AZU|  SBMO|       SBAE| 302.9|    2|
|2019|    1|    AZU|  SBMO|       SBAE| 372.9|    2|
|2019|    1|    AZU|  SBMO|       SBAE|389.42|    4|
|2019|    1|    AZU|  SBMO|       SBAE| 419.9|    2|
|2019|    1|    AZU|  SBMO|       SBAE| 448.9|    1|
|2019|    1|    AZU|  SBMO|       SBAE| 639.9|    1|
|2019|    1|    AZU|  SBMO|       SBAE| 656.9|    1|
|2019|    1|    AZU|  SBMO|       SBAE| 724.9|    1|
+----+-----+-------+------+-----------+------+-----+

#### 2020

In [54]:
price2020 = price2020\
    .withColumn(
    "year",
    price2020["year"].cast(IntegerType())
    )\
    .withColumn(
    "month",
    price2020["month"].cast(IntegerType())
    )\
    .withColumn(
    "seats",
    price2020["seats"].cast(IntegerType())
    )\
    .withColumn(
    "price",
    f.regexp_replace('price', ',', '.')
    )

In [56]:
price2020 = price2020\
    .withColumn(
    "price",
    price2020["price"].cast(DoubleType())
    )

In [57]:
price2020.printSchema()

root
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- company: string (nullable = true)
 |-- origin: string (nullable = true)
 |-- destination: string (nullable = true)
 |-- price: double (nullable = true)
 |-- seats: integer (nullable = true)

#### 2021

In [58]:
price2021 = price2021\
    .withColumn(
    "year",
    price2021["year"].cast(IntegerType())
    )\
    .withColumn(
    "month",
    price2021["month"].cast(IntegerType())
    )\
    .withColumn(
    "seats",
    price2021["seats"].cast(IntegerType())
    )\
    .withColumn(
    "price",
    f.regexp_replace('price', ',', '.')
    )

In [59]:
price2021 = price2021\
    .withColumn(
    "price",
    price2021["price"].cast(DoubleType())
    )

In [61]:
price2021.printSchema()

root
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- company: string (nullable = true)
 |-- origin: string (nullable = true)
 |-- destination: string (nullable = true)
 |-- price: double (nullable = true)
 |-- seats: integer (nullable = true)

#### 2022

In [62]:
price2022 = price2022\
    .withColumn(
    "year",
    price2022["year"].cast(IntegerType())
    )\
    .withColumn(
    "month",
    price2022["month"].cast(IntegerType())
    )\
    .withColumn(
    "seats",
    price2022["seats"].cast(IntegerType())
    )\
    .withColumn(
    "price",
    f.regexp_replace('price', ',', '.')
    )

In [63]:
price2022 = price2022\
    .withColumn(
    "price",
    price2022["price"].cast(DoubleType())
    )

In [64]:
price2022.printSchema()

root
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- company: string (nullable = true)
 |-- origin: string (nullable = true)
 |-- destination: string (nullable = true)
 |-- price: double (nullable = true)
 |-- seats: integer (nullable = true)

## Carregamento na Processing Zone - Arquivos no Formato Parquet