In [43]:
!pip install pyspark
!pip install findspark
!pip install pandas 
!pip install install-jdk

Requirement already satisfied: pyspark in /home/gitpod/.pyenv/versions/3.11.1/lib/python3.11/site-packages (3.4.0)
Requirement already satisfied: py4j==0.10.9.7 in /home/gitpod/.pyenv/versions/3.11.1/lib/python3.11/site-packages (from pyspark) (0.10.9.7)

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: findspark in /home/gitpod/.pyenv/versions/3.11.1/lib/python3.11/site-packages (2.0.1)

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: pandas in /home/gitpod/.pyenv/versions/3.11.1/lib/python3.11/site-packages (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/gitpod/.pyenv/versions/3.11.1/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/gitpod/.pyenv/versions/3.11.1/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /home/gitpod/.pyenv/versions/3.11.1/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /home/gitpod/.pyenv/versions/3.11.1/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /home/gitpod/.pyenv/versions/3.11.1/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: pip install --upgrade pip
Collecting install-jdk
  Downloading install_jdk-1.0.4-py3-none-any.whl (15 kB)
Installing collected packages: install-jdk
Successfully installed install-jdk-1.0.4

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: pip install --upgrade pip

In [2]:
import pandas as pd
import findspark
findspark.init()

In [3]:
from pyspark.sql import SparkSession

In [44]:
spark = SparkSession.builder.master('local[*]').getOrCreate()

In [5]:
spark

# Carregamendo dos Dados

## Distância entre Maceió e outras capitais

In [96]:
distPath = '/workspace/DataPipeline-TarifasAereas/data/maceioDistCapitals.json'

In [97]:
dist = spark.read.option("multiline", "true").json(distPath)

In [98]:
dist.show()

+--------------+-----------+--------+
|          city|distHighway|distLine|
+--------------+-----------+--------+
|    Rio Branco|       5063|    3513|
|        Macapa|       3545|    2011|
|        Manaus|       5444|    2779|
|      Salvador|        578|     476|
|     Fortaleza|        965|     731|
|      Brasilia|       1920|    1487|
|       Vitoria|       1611|    1282|
|       Goiania|       2119|    1658|
|      Sao Luis|       1584|    1236|
|        Cuiaba|       3111|    2304|
|  Campo Grande|       2830|    2355|
|Belo Horizonte|       1855|    1443|
|         Belem|       2059|    1682|
|   Joao Pessoa|        371|     300|
|      Curitiba|       2805|    2263|
|        Recife|        257|     203|
|      Teresina|       1155|     931|
|      Teresina|       2071|    1674|
|         Natal|        539|     435|
|  Porto Alegre|       3531|    2778|
+--------------+-----------+--------+
only showing top 20 rows

## Preço por ano das passagens

### Carregamento dos dados

In [10]:
price2019Path = "../data/price2019/*.CSV"
price2020Path = "../data/price2020/*.CSV"
price2021Path = "../data/price2021/*.CSV"
price2022Path = "../data/price2022/*.CSV"

In [11]:
price2019 = spark.read.csv(price2019Path, sep=';', inferSchema=True)
price2020 = spark.read.csv(price2020Path, sep=';', inferSchema=True)
price2021 = spark.read.csv(price2021Path, sep=';', inferSchema=True)
price2022 = spark.read.csv(price2019Path, sep=';', inferSchema=True)

In [12]:
price2019.show()

+----+---+-------+------+-------+------+--------+
| _c0|_c1|    _c2|   _c3|    _c4|   _c5|     _c6|
+----+---+-------+------+-------+------+--------+
| ANO|MES|EMPRESA|ORIGEM|DESTINO|TARIFA|ASSENTOS|
|2019|  1|    AZU|  SBAC|   SBAR|239,90|       2|
|2019|  1|    AZU|  SBAC|   SBAR|270,90|       2|
|2019|  1|    AZU|  SBAC|   SBBR|217,90|       1|
|2019|  1|    AZU|  SBAC|   SBBR|630,90|       2|
|2019|  1|    AZU|  SBAC|   SBBV|347,90|       1|
|2019|  1|    AZU|  SBAC|   SBCF|212,90|       2|
|2019|  1|    AZU|  SBAC|   SBCF|283,90|       1|
|2019|  1|    AZU|  SBAC|   SBCF|354,90|       3|
|2019|  1|    AZU|  SBAC|   SBCF|414,90|       2|
|2019|  1|    AZU|  SBAC|   SBCF|619,90|       3|
|2019|  1|    AZU|  SBAC|   SBCG|291,90|       1|
|2019|  1|    AZU|  SBAC|   SBCH|737,90|       2|
|2019|  1|    AZU|  SBAC|   SBCR|361,90|       1|
|2019|  1|    AZU|  SBAC|   SBCY|425,90|       1|
|2019|  1|    AZU|  SBAC|   SBEG|277,90|       1|
|2019|  1|    AZU|  SBAC|   SBEG|307,90|       2|
|2019|  1|    AZU|  SBAC|   SBFL|411,90|       1|
|2019|  1|    AZU|  SBAC|   SBGL|229,90|       5|
|2019|  1|    AZU|  SBAC|   SBGL|442,90|       1|
+----+---+-------+------+-------+------+--------+
only showing top 20 rows

### Renomeando o Header

In [13]:
newHeaderColNames = ['year', 'month', 'company', 'origin', 'destination', 'price', 'seats']

In [14]:
for index, colName in enumerate(newHeaderColNames):
    price2019 = price2019.withColumnRenamed(f"_c{index}", colName)
    price2020 = price2020.withColumnRenamed(f"_c{index}", colName)
    price2021 = price2021.withColumnRenamed(f"_c{index}", colName)
    price2022 = price2022.withColumnRenamed(f"_c{index}", colName)

In [15]:
price2020.limit(5).show()

+-----------------+-----------------+------------------+--------------------+--------------------+--------+--------------------+
|             year|            month|           company|              origin|         destination|   price|               seats|
+-----------------+-----------------+------------------+--------------------+--------------------+--------+--------------------+
|Ano de Refer�ncia|M�s de Refer�ncia|ICAO Empresa A�rea|ICAO Aer�dromo Or...|ICAO Aer�dromo De...|Tarifa-N|Assentos Comercia...|
|             2020|                1|               AZU|                SBAC|                SBCF|   693,9|                   2|
|             2020|                1|               AZU|                SBAC|                SBFN|   404,9|                   2|
|             2020|                1|               AZU|                SBAC|                SBGL|  1138,9|                   1|
|             2020|                1|               AZU|                SBAC|                SBGL|   283,9|                   1|
+-----------------+-----------------+------------------+--------------------+--------------------+--------+--------------------+

In [16]:
price2019 = price2019.where('year!="ANO"')
price2020 = price2020.where('price!="Tarifa-N"')
price2021 = price2021.where('year!="ANO"')
price2022 = price2022.where('year!="ANO"')

In [17]:
price2022.limit(5).show()

+----+-----+-------+------+-----------+------+-----+
|year|month|company|origin|destination| price|seats|
+----+-----+-------+------+-----------+------+-----+
|2019|    1|    AZU|  SBAC|       SBAR|239,90|    2|
|2019|    1|    AZU|  SBAC|       SBAR|270,90|    2|
|2019|    1|    AZU|  SBAC|       SBBR|217,90|    1|
|2019|    1|    AZU|  SBAC|       SBBR|630,90|    2|
|2019|    1|    AZU|  SBAC|       SBBV|347,90|    1|
+----+-----+-------+------+-----------+------+-----+

### Selecionamento somente o aeroporto de Maceió como origem

In [18]:
price2019 = price2019.where('origin=="SBMO"')
price2020 = price2020.where('origin=="SBMO"')
price2021 = price2021.where('origin=="SBMO"')
price2022 = price2022.where('origin=="SBMO"')

In [19]:
price2020.limit(5).show()

+----+-----+-------+------+-----------+------+-----+
|year|month|company|origin|destination| price|seats|
+----+-----+-------+------+-----------+------+-----+
|2020|    1|    AZU|  SBMO|       SBAE|1363,9|    2|
|2020|    1|    AZU|  SBMO|       SBAE|1373,9|    1|
|2020|    1|    AZU|  SBMO|       SBAE|1491,9|    2|
|2020|    1|    AZU|  SBMO|       SBAE|1651,9|    1|
|2020|    1|    AZU|  SBMO|       SBAE|1661,9|    2|
+----+-----+-------+------+-----------+------+-----+

### Convertendo: String to Integer and String to Double

In [20]:
from pyspark.sql.types import DoubleType, StringType, IntegerType

In [21]:
from pyspark.sql import functions as f

#### 2019

In [22]:
price2019.printSchema()

root
 |-- year: string (nullable = true)
 |-- month: string (nullable = true)
 |-- company: string (nullable = true)
 |-- origin: string (nullable = true)
 |-- destination: string (nullable = true)
 |-- price: string (nullable = true)
 |-- seats: string (nullable = true)

In [23]:
price2019 = price2019\
    .withColumn(
    "year",
    price2019["year"].cast(IntegerType())
    )\
    .withColumn(
    "month",
    price2019["month"].cast(IntegerType())
    )\
    .withColumn(
    "seats",
    price2019["seats"].cast(IntegerType())
    )\
    .withColumn(
    "price",
    f.regexp_replace('price', ',', '.')
    )

In [24]:
price2019 = price2019\
    .withColumn(
    "price",
    price2019["price"].cast(DoubleType())
    )

In [25]:
price2019.printSchema()

root
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- company: string (nullable = true)
 |-- origin: string (nullable = true)
 |-- destination: string (nullable = true)
 |-- price: double (nullable = true)
 |-- seats: integer (nullable = true)

In [26]:
price2019.limit(10).show()

+----+-----+-------+------+-----------+------+-----+
|year|month|company|origin|destination| price|seats|
+----+-----+-------+------+-----------+------+-----+
|2019|    1|    AZU|  SBMO|       SBAC| 179.9|    2|
|2019|    1|    AZU|  SBMO|       SBAE|295.33|    2|
|2019|    1|    AZU|  SBMO|       SBAE| 302.9|    2|
|2019|    1|    AZU|  SBMO|       SBAE| 372.9|    2|
|2019|    1|    AZU|  SBMO|       SBAE|389.42|    4|
|2019|    1|    AZU|  SBMO|       SBAE| 419.9|    2|
|2019|    1|    AZU|  SBMO|       SBAE| 448.9|    1|
|2019|    1|    AZU|  SBMO|       SBAE| 639.9|    1|
|2019|    1|    AZU|  SBMO|       SBAE| 656.9|    1|
|2019|    1|    AZU|  SBMO|       SBAE| 724.9|    1|
+----+-----+-------+------+-----------+------+-----+

#### 2020

In [27]:
price2020 = price2020\
    .withColumn(
    "year",
    price2020["year"].cast(IntegerType())
    )\
    .withColumn(
    "month",
    price2020["month"].cast(IntegerType())
    )\
    .withColumn(
    "seats",
    price2020["seats"].cast(IntegerType())
    )\
    .withColumn(
    "price",
    f.regexp_replace('price', ',', '.')
    )

In [28]:
price2020 = price2020\
    .withColumn(
    "price",
    price2020["price"].cast(DoubleType())
    )

In [29]:
price2020.printSchema()

root
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- company: string (nullable = true)
 |-- origin: string (nullable = true)
 |-- destination: string (nullable = true)
 |-- price: double (nullable = true)
 |-- seats: integer (nullable = true)

#### 2021

In [30]:
price2021 = price2021\
    .withColumn(
    "year",
    price2021["year"].cast(IntegerType())
    )\
    .withColumn(
    "month",
    price2021["month"].cast(IntegerType())
    )\
    .withColumn(
    "seats",
    price2021["seats"].cast(IntegerType())
    )\
    .withColumn(
    "price",
    f.regexp_replace('price', ',', '.')
    )

In [31]:
price2021 = price2021\
    .withColumn(
    "price",
    price2021["price"].cast(DoubleType())
    )

In [32]:
price2021.printSchema()

root
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- company: string (nullable = true)
 |-- origin: string (nullable = true)
 |-- destination: string (nullable = true)
 |-- price: double (nullable = true)
 |-- seats: integer (nullable = true)

#### 2022

In [33]:
price2022 = price2022\
    .withColumn(
    "year",
    price2022["year"].cast(IntegerType())
    )\
    .withColumn(
    "month",
    price2022["month"].cast(IntegerType())
    )\
    .withColumn(
    "seats",
    price2022["seats"].cast(IntegerType())
    )\
    .withColumn(
    "price",
    f.regexp_replace('price', ',', '.')
    )

In [34]:
price2022 = price2022\
    .withColumn(
    "price",
    price2022["price"].cast(DoubleType())
    )

In [35]:
price2022.printSchema()

root
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- company: string (nullable = true)
 |-- origin: string (nullable = true)
 |-- destination: string (nullable = true)
 |-- price: double (nullable = true)
 |-- seats: integer (nullable = true)

## Codigo ICAO - JSON

In [116]:
pathIcaoJson = '/workspace/DataPipeline-TarifasAereas/data/airports.json'

In [117]:
icao = spark.read.option("multiline", "true").json(pathIcaoJson)

In [119]:
icao.printSchema()

root
 |-- carriers: string (nullable = true)
 |-- city: string (nullable = true)
 |-- code: string (nullable = true)
 |-- country: string (nullable = true)
 |-- direct_flights: string (nullable = true)
 |-- elev: string (nullable = true)
 |-- email: string (nullable = true)
 |-- icao: string (nullable = true)
 |-- lat: string (nullable = true)
 |-- lon: string (nullable = true)
 |-- name: string (nullable = true)
 |-- phone: string (nullable = true)
 |-- runway_length: string (nullable = true)
 |-- state: string (nullable = true)
 |-- type: string (nullable = true)
 |-- tz: string (nullable = true)
 |-- url: string (nullable = true)
 |-- woeid: string (nullable = true)

In [123]:
icao.select("icao", "city", "country").where('country=="Brazil"').limit(5).show()

+----+-------------+-------+
|icao|         city|country|
+----+-------------+-------+
|SBAX|        Araxá| Brazil|
|SBAT|Alta Floresta| Brazil|
|SBAR|      Aracaju| Brazil|
|SBAU|    Araçatuba| Brazil|
|SBHT|     Altamira| Brazil|
+----+-------------+-------+

In [125]:
icaoAirportBrazil = icao.select("icao", "city", "country").where('country=="Brazil"')

In [145]:
icaoAirportBrazilNotNull = icaoAirportBrazil.where('icao!=""').limit(60).show()

+----+--------------------+-------+
|icao|                city|country|
+----+--------------------+-------+
|SBAX|               Araxá| Brazil|
|SBAT|       Alta Floresta| Brazil|
|SBAR|             Aracaju| Brazil|
|SBAU|           Araçatuba| Brazil|
|SBHT|            Altamira| Brazil|
|SBBU|               Bauru| Brazil|
|SBBE|               Belem| Brazil|
|SBPS|        Porto Seguro| Brazil|
|SBBR|            Lago Sul| Brazil|
|SBBV|           Boa Vista| Brazil|
|SBCY|              Cuiaba| Brazil|
|SBSP|           Sao Paulo| Brazil|
|SBCG|        Campo Grande| Brazil|
|SBCR|             Corumba| Brazil|
|SBCF|             Confins| Brazil|
|SBKG|      Campina Grande| Brazil|
|SBCT|Sao Jose dos Pinhais| Brazil|
|SBFZ|           Fortaleza| Brazil|
|SBGL|      Rio de Janeiro| Brazil|
|SBGR|           Guarulhos| Brazil|
+----+--------------------+-------+
only showing top 20 rows

In [147]:
icaoAirportBrazil.printSchema()

root
 |-- icao: string (nullable = true)
 |-- city: string (nullable = true)
 |-- country: string (nullable = true)

# Carregamento na Processing Zone - Arquivos no Formato Parquet

#### 2019

In [64]:
pathProcessingZone2019 = "/workspace/DataPipeline-TarifasAereas/data/processing/2019"

In [65]:
price2019.write.parquet(
    pathProcessingZone2019,
    mode = 'overwrite'
)

23/06/09 18:38:19 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
23/06/09 18:38:19 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
23/06/09 18:38:19 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
23/06/09 18:38:19 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
23/06/09 18:38:19 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers
23/06/09 18:38:21 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
23/06/09 18:38:21 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
23/06/09 18:38:21 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
23/06/09 18:38:21 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [66]:
price2019Parquet = spark.read.parquet(
    pathProcessingZone2019
)

In [67]:
price2019Parquet.limit(5).show()

+----+-----+-------+------+-----------+------+-----+
|year|month|company|origin|destination| price|seats|
+----+-----+-------+------+-----------+------+-----+
|2019|    1|    AZU|  SBMO|       SBAC| 179.9|    2|
|2019|    1|    AZU|  SBMO|       SBAE|295.33|    2|
|2019|    1|    AZU|  SBMO|       SBAE| 302.9|    2|
|2019|    1|    AZU|  SBMO|       SBAE| 372.9|    2|
|2019|    1|    AZU|  SBMO|       SBAE|389.42|    4|
+----+-----+-------+------+-----------+------+-----+

#### 2020

In [69]:
pathProcessingZone2020 = "/workspace/DataPipeline-TarifasAereas/data/processing/2020"

In [70]:
price2020.write.parquet(
    pathProcessingZone2020,
    mode = 'overwrite'
)

23/06/09 18:39:12 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
23/06/09 18:39:12 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
23/06/09 18:39:12 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
23/06/09 18:39:12 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
23/06/09 18:39:12 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers
23/06/09 18:39:12 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
23/06/09 18:39:12 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers
23/06/09 18:39:12 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
23/06/09 18:39:12 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers
23/06/09 18:39:12 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
23/06/09 18:39:13 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
23/06/09 18:39:13 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
23/06/09 18:39:13 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [71]:
price2020Parquet = spark.read.parquet(
    pathProcessingZone2019
)

In [72]:
price2020Parquet.limit(5).show()

+----+-----+-------+------+-----------+-----+-----+
|year|month|company|origin|destination|price|seats|
+----+-----+-------+------+-----------+-----+-----+
|2020|    9|    AZU|  SBMO|       SBAE|365.0|    1|
|2020|    9|    AZU|  SBMO|       SBAE|402.0|    2|
|2020|    9|    AZU|  SBMO|       SBAE|460.9|    1|
|2020|    9|    AZU|  SBMO|       SBAE|462.0|    2|
|2020|    9|    AZU|  SBMO|       SBAE|473.9|    3|
+----+-----+-------+------+-----------+-----+-----+

#### 2021

In [73]:
pathProcessingZone2021 = "/workspace/DataPipeline-TarifasAereas/data/processing/2021"

In [74]:
price2021.write.parquet(
    pathProcessingZone2021,
    mode = 'overwrite'
)

23/06/09 18:40:20 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
23/06/09 18:40:20 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
23/06/09 18:40:20 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
23/06/09 18:40:20 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
23/06/09 18:40:20 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers
23/06/09 18:40:20 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 58.46% for 13 writers
23/06/09 18:40:21 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers
23/06/09 18:40:22 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
23/06/09 18:40:22 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
23/06/09 18:40:23 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
23/06/09 18:40:23 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [76]:
price2021Parquet = spark.read.parquet(
    pathProcessingZone2021
)

In [77]:
price2021Parquet.limit(5).show()

+----+-----+-------+------+-----------+-----+-----+
|year|month|company|origin|destination|price|seats|
+----+-----+-------+------+-----------+-----+-----+
|2021|   11|    AZU|  SBMO|       SBAE|538.9|    2|
|2021|   11|    AZU|  SBMO|       SBAE|557.9|    1|
|2021|   11|    AZU|  SBMO|       SBAE|592.9|    1|
|2021|   11|    AZU|  SBMO|       SBAE|697.9|    1|
|2021|   11|    AZU|  SBMO|       SBAE|698.9|    1|
+----+-----+-------+------+-----------+-----+-----+

#### 2022

In [78]:
pathProcessingZone2022 = "/workspace/DataPipeline-TarifasAereas/data/processing/2022"

In [79]:
price2022.write.parquet(
    pathProcessingZone2022,
    mode = 'overwrite'
)

23/06/09 18:41:48 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
23/06/09 18:41:48 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
23/06/09 18:41:48 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
23/06/09 18:41:48 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
23/06/09 18:41:48 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers
23/06/09 18:41:50 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
23/06/09 18:41:50 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
23/06/09 18:41:50 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
23/06/09 18:41:50 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [80]:
price2022Parquet = spark.read.parquet(
    pathProcessingZone2022
)

In [81]:
price2022Parquet.limit(5).show()

+----+-----+-------+------+-----------+------+-----+
|year|month|company|origin|destination| price|seats|
+----+-----+-------+------+-----------+------+-----+
|2019|    1|    AZU|  SBMO|       SBAC| 179.9|    2|
|2019|    1|    AZU|  SBMO|       SBAE|295.33|    2|
|2019|    1|    AZU|  SBMO|       SBAE| 302.9|    2|
|2019|    1|    AZU|  SBMO|       SBAE| 372.9|    2|
|2019|    1|    AZU|  SBMO|       SBAE|389.42|    4|
+----+-----+-------+------+-----------+------+-----+

# Análise dos Dados

In [101]:
price2019Parquet.createOrReplaceTempView("2019View")

In [103]:
spark.sql("SELECT * FROM 2019View").show(5)

+----+-----+-------+------+-----------+------+-----+
|year|month|company|origin|destination| price|seats|
+----+-----+-------+------+-----------+------+-----+
|2019|    1|    AZU|  SBMO|       SBAC| 179.9|    2|
|2019|    1|    AZU|  SBMO|       SBAE|295.33|    2|
|2019|    1|    AZU|  SBMO|       SBAE| 302.9|    2|
|2019|    1|    AZU|  SBMO|       SBAE| 372.9|    2|
|2019|    1|    AZU|  SBMO|       SBAE|389.42|    4|
+----+-----+-------+------+-----------+------+-----+
only showing top 5 rows

In [113]:
spark.sql("""
        SELECT 
        destination, count(origin)
        FROM
        2019View
        GROUP BY destination
        ORDER BY count(origin) DESC;
        """).show(1000)

+-----------+-------------+
|destination|count(origin)|
+-----------+-------------+
|       SBGR|         8240|
|       SBBR|         4852|
|       SBGL|         3411|
|       SBPA|         3011|
|       SBKP|         2938|
|       SBCF|         2925|
|       SBCT|         2370|
|       SBSP|         2266|
|       SBRJ|         1857|
|       SBCG|         1823|
|       SBFL|         1794|
|       SBSV|         1630|
|       SBGO|         1539|
|       SBCY|         1527|
|       SBRP|         1314|
|       SBEG|         1232|
|       SBLO|         1208|
|       SBVT|         1197|
|       SBSR|         1135|
|       SBRF|         1018|
|       SBPV|         1016|
|       SBBE|          931|
|       SBFZ|          928|
|       SBUL|          861|
|       SBFI|          778|
|       SBNF|          729|
|       SBRB|          703|
|       SBSL|          665|
|       SBTE|          621|
|       SBPJ|          518|
|       SBSG|          513|
|       SBMG|          430|
|       SBJV|          426|
|       SBCH|          388|
|       SBMQ|          366|
|       SBBV|          307|
|       SBDN|          279|
|       SBIZ|          265|
|       SBMA|          244|
|       SBAU|          220|
|       SBJP|          194|
|       SBPL|          194|
|       SBAE|          190|
|       SBCA|          181|
|       SBAR|          169|
|       SBSN|          154|
|       SBMK|          153|
|       SBIL|          153|
|       SBPF|          139|
|       SBJA|          135|
|       SBUR|          134|
|       SBML|          123|
|       SBQV|          119|
|       SBPS|          106|
|       SBCX|          104|
|       SBMS|           94|
|       SBTG|           91|
|       SWLC|           85|
|       SBJI|           84|
|       SWSI|           80|
|       SBJU|           79|
|       SBZM|           70|
|       SBFN|           68|
|       SBDO|           68|
|       SSKW|           65|
|       SBCZ|           64|
|       SBIP|           54|
|       SBPK|           52|
|       SNBR|           52|
|       SBHT|           52|
|       SBVH|           52|
|       SBAT|           48|
|       SBSI|           47|
|       SBRD|           39|
|       SBSM|           35|
|       SBUG|           33|
|       SBGV|           33|
|       SBKG|           27|
|       SBPG|           27|
|       SWGN|           27|
|       SBLJ|           26|
|       SBCJ|           25|
|       SNTF|           24|
|       SBCR|           23|
|       SBNM|           22|
|       SBCP|           20|
|       SSPB|           20|
|       SBVG|           18|
|       SBVC|           17|
|       SBSO|           16|
|       SBBW|           13|
|       SBTT|           13|
|       SBAC|           12|
|       SBAQ|           10|
|       SBBG|           10|
|       SBCB|            9|
|       SBAX|            9|
|       SBDB|            9|
|       SBTD|            9|
|       SSSB|            7|
|       SSZR|            6|
|       SSKM|            6|
|       SBME|            6|
|       SSCT|            6|
|       SBRG|            5|
|       SSFB|            5|
|       SNBA|            5|
|       SBCN|            4|
|       SBGU|            4|
|       SSUV|            3|
|       SBLE|            3|
|       SBFE|            3|
|       SSGY|            2|
|       SBJE|            2|
|       SSPI|            2|
|       SBTF|            2|
|       SSVL|            2|
|       SSOG|            1|
|       SIMK|            1|
|       SBSJ|            1|
+-----------+-------------+

In [148]:
icaoAirportBrazil.createOrReplaceTempView("icaoView")

In [151]:
spark.sql("""
        SELECT 
        *
        FROM
        icaoView;
        """).show(10)

+----+-------------+-------+
|icao|         city|country|
+----+-------------+-------+
|SBAX|        Araxá| Brazil|
|SBAT|Alta Floresta| Brazil|
|SBAR|      Aracaju| Brazil|
|SBAU|    Araçatuba| Brazil|
|SBHT|     Altamira| Brazil|
|    |    Araguaina| Brazil|
|SBBU|        Bauru| Brazil|
|SBBE|        Belem| Brazil|
|SBPS| Porto Seguro| Brazil|
|    |    Barreiras| Brazil|
+----+-------------+-------+
only showing top 10 rows

In [ ]:
spark.sql("""
        SELECT 
        destination, count(origin)
        FROM
        2019View
        GROUP BY destination
        ORDER BY count(origin) DESC
        """).show(1000)