In [1]:
!pip install pyspark
!pip install findspark
!pip install pandas 
!pip install install-jdk

Requirement already satisfied: pyspark in /home/danilojpfreitas/anaconda3/lib/python3.10/site-packages (3.4.0)
Requirement already satisfied: py4j==0.10.9.7 in /home/danilojpfreitas/anaconda3/lib/python3.10/site-packages (from pyspark) (0.10.9.7)
Requirement already satisfied: findspark in /home/danilojpfreitas/anaconda3/lib/python3.10/site-packages (2.0.1)
Requirement already satisfied: pandas in /home/danilojpfreitas/anaconda3/lib/python3.10/site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/danilojpfreitas/anaconda3/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/danilojpfreitas/anaconda3/lib/python3.10/site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in /home/danilojpfreitas/anaconda3/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /home/danilojpfreitas/anaconda3/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: install-jdk in /home/danilojpfreitas/anaconda3/lib/python3.10/site-packages (1.0.4)

In [2]:
import pandas as pd
import findspark
findspark.init()

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.master('local[*]').getOrCreate()

23/06/16 21:34:39 WARN Utils: Your hostname, danilojpfreitas-Vostro-13-5310 resolves to a loopback address: 127.0.1.1; using 10.0.0.155 instead (on interface wlp0s20f3)
23/06/16 21:34:39 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/06/16 21:34:40 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
spark

# Carregamendo dos Dados

## Distância entre Maceió e outras capitais

In [6]:
distPath = '/home/danilojpfreitas/Documentos/Data Engineer/Projeto/DataPipeline-TarifasAereas/data/dist/maceioDistCapitals.json'

In [7]:
dist = spark.read.option("multiline", "true").json(distPath)

In [8]:
dist.show()

+--------------+-----------+--------+
|          city|distHighway|distLine|
+--------------+-----------+--------+
|    Rio Branco|       5063|    3513|
|        Macapa|       3545|    2011|
|        Manaus|       5444|    2779|
|      Salvador|        578|     476|
|     Fortaleza|        965|     731|
|      Brasilia|       1920|    1487|
|       Vitoria|       1611|    1282|
|       Goiania|       2119|    1658|
|      Sao Luis|       1584|    1236|
|        Cuiaba|       3111|    2304|
|  Campo Grande|       2830|    2355|
|Belo Horizonte|       1855|    1443|
|         Belem|       2059|    1682|
|   Joao Pessoa|        371|     300|
|      Curitiba|       2805|    2263|
|        Recife|        257|     203|
|      Teresina|       1155|     931|
|      Teresina|       2071|    1674|
|         Natal|        539|     435|
|  Porto Alegre|       3531|    2778|
+--------------+-----------+--------+
only showing top 20 rows

## Preço por ano das passagens

### Carregamento dos dados

In [9]:
price2019Path = "../data/price2019/*.CSV"
price2020Path = "../data/price2020/*.CSV"
price2021Path = "../data/price2021/*.CSV"
price2022Path = "../data/price2022/*.CSV"

In [10]:
price2019 = spark.read.csv(price2019Path, sep=';', inferSchema=True)
price2020 = spark.read.csv(price2020Path, sep=';', inferSchema=True)
price2021 = spark.read.csv(price2021Path, sep=';', inferSchema=True)
price2022 = spark.read.csv(price2019Path, sep=';', inferSchema=True)

In [11]:
price2019.show()

+----+---+-------+------+-------+------+--------+
| _c0|_c1|    _c2|   _c3|    _c4|   _c5|     _c6|
+----+---+-------+------+-------+------+--------+
| ANO|MES|EMPRESA|ORIGEM|DESTINO|TARIFA|ASSENTOS|
|2019|  1|    AZU|  SBAC|   SBAR|239,90|       2|
|2019|  1|    AZU|  SBAC|   SBAR|270,90|       2|
|2019|  1|    AZU|  SBAC|   SBBR|217,90|       1|
|2019|  1|    AZU|  SBAC|   SBBR|630,90|       2|
|2019|  1|    AZU|  SBAC|   SBBV|347,90|       1|
|2019|  1|    AZU|  SBAC|   SBCF|212,90|       2|
|2019|  1|    AZU|  SBAC|   SBCF|283,90|       1|
|2019|  1|    AZU|  SBAC|   SBCF|354,90|       3|
|2019|  1|    AZU|  SBAC|   SBCF|414,90|       2|
|2019|  1|    AZU|  SBAC|   SBCF|619,90|       3|
|2019|  1|    AZU|  SBAC|   SBCG|291,90|       1|
|2019|  1|    AZU|  SBAC|   SBCH|737,90|       2|
|2019|  1|    AZU|  SBAC|   SBCR|361,90|       1|
|2019|  1|    AZU|  SBAC|   SBCY|425,90|       1|
|2019|  1|    AZU|  SBAC|   SBEG|277,90|       1|
|2019|  1|    AZU|  SBAC|   SBEG|307,90|       2|
|2019|  1|    AZU|  SBAC|   SBFL|411,90|       1|
|2019|  1|    AZU|  SBAC|   SBGL|229,90|       5|
|2019|  1|    AZU|  SBAC|   SBGL|442,90|       1|
+----+---+-------+------+-------+------+--------+
only showing top 20 rows

### Renomeando o Header

In [12]:
newHeaderColNames = ['year', 'month', 'company', 'origin', 'destination', 'price', 'seats']

In [13]:
for index, colName in enumerate(newHeaderColNames):
    price2019 = price2019.withColumnRenamed(f"_c{index}", colName)
    price2020 = price2020.withColumnRenamed(f"_c{index}", colName)
    price2021 = price2021.withColumnRenamed(f"_c{index}", colName)
    price2022 = price2022.withColumnRenamed(f"_c{index}", colName)

In [14]:
price2020.limit(5).show()

+-----------------+-----------------+------------------+--------------------+--------------------+--------+--------------------+
|             year|            month|           company|              origin|         destination|   price|               seats|
+-----------------+-----------------+------------------+--------------------+--------------------+--------+--------------------+
|Ano de Refer�ncia|M�s de Refer�ncia|ICAO Empresa A�rea|ICAO Aer�dromo Or...|ICAO Aer�dromo De...|Tarifa-N|Assentos Comercia...|
|             2020|               11|               AZU|                SBAC|                SBBR|  297,69|                   5|
|             2020|               11|               AZU|                SBAC|                SBBR|   340,9|                   1|
|             2020|               11|               AZU|                SBAC|                SBBR|   374,9|                   3|
|             2020|               11|               AZU|                SBAC|                SBBV|   707,9|                   4|
+-----------------+-----------------+------------------+--------------------+--------------------+--------+--------------------+

In [15]:
price2019 = price2019.where('price!="Tarifa-N"')
price2020 = price2020.where('price!="Tarifa-N"')
price2021 = price2021.where('price!="Tarifa-N"')
price2022 = price2022.where('price!="Tarifa-N"')

In [16]:
price2020.limit(5).show()

+----+-----+-------+------+-----------+------+-----+
|year|month|company|origin|destination| price|seats|
+----+-----+-------+------+-----------+------+-----+
|2020|   11|    AZU|  SBAC|       SBBR|297,69|    5|
|2020|   11|    AZU|  SBAC|       SBBR| 340,9|    1|
|2020|   11|    AZU|  SBAC|       SBBR| 374,9|    3|
|2020|   11|    AZU|  SBAC|       SBBV| 707,9|    4|
|2020|   11|    AZU|  SBAC|       SBCF| 385,9|    1|
+----+-----+-------+------+-----------+------+-----+

### Selecionamento somente o aeroporto de Maceió como origem

In [17]:
price2019 = price2019.where('origin=="SBMO"')
price2020 = price2020.where('origin=="SBMO"')
price2021 = price2021.where('origin=="SBMO"')
price2022 = price2022.where('origin=="SBMO"')

In [18]:
price2020.limit(5).show()

+----+-----+-------+------+-----------+------+-----+
|year|month|company|origin|destination| price|seats|
+----+-----+-------+------+-----------+------+-----+
|2020|   11|    AZU|  SBMO|       SBAE|1370,9|    2|
|2020|   11|    AZU|  SBMO|       SBAE|1409,9|    2|
|2020|   11|    AZU|  SBMO|       SBAE| 352,8|    6|
|2020|   11|    AZU|  SBMO|       SBAE|378,05|    1|
|2020|   11|    AZU|  SBMO|       SBAE| 415,9|    2|
+----+-----+-------+------+-----------+------+-----+

In [19]:
price2019.count()

62530

### Convertendo: String to Integer and String to Double

In [20]:
from pyspark.sql.types import DoubleType, StringType, IntegerType

In [21]:
from pyspark.sql import functions as f

#### 2019

In [22]:
price2019.printSchema()

root
 |-- year: string (nullable = true)
 |-- month: string (nullable = true)
 |-- company: string (nullable = true)
 |-- origin: string (nullable = true)
 |-- destination: string (nullable = true)
 |-- price: string (nullable = true)
 |-- seats: string (nullable = true)

In [23]:
price2019 = price2019\
    .withColumn(
    "year",
    price2019["year"].cast(IntegerType())
    )\
    .withColumn(
    "month",
    price2019["month"].cast(IntegerType())
    )\
    .withColumn(
    "seats",
    price2019["seats"].cast(IntegerType())
    )\
    .withColumn(
    "price",
    f.regexp_replace('price', ',', '.')
    )

In [24]:
price2019 = price2019\
    .withColumn(
    "price",
    price2019["price"].cast(DoubleType())
    )

In [25]:
price2019.printSchema()

root
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- company: string (nullable = true)
 |-- origin: string (nullable = true)
 |-- destination: string (nullable = true)
 |-- price: double (nullable = true)
 |-- seats: integer (nullable = true)

In [26]:
price2019.limit(10).show()

+----+-----+-------+------+-----------+------+-----+
|year|month|company|origin|destination| price|seats|
+----+-----+-------+------+-----------+------+-----+
|2019|    1|    AZU|  SBMO|       SBAC| 179.9|    2|
|2019|    1|    AZU|  SBMO|       SBAE|295.33|    2|
|2019|    1|    AZU|  SBMO|       SBAE| 302.9|    2|
|2019|    1|    AZU|  SBMO|       SBAE| 372.9|    2|
|2019|    1|    AZU|  SBMO|       SBAE|389.42|    4|
|2019|    1|    AZU|  SBMO|       SBAE| 419.9|    2|
|2019|    1|    AZU|  SBMO|       SBAE| 448.9|    1|
|2019|    1|    AZU|  SBMO|       SBAE| 639.9|    1|
|2019|    1|    AZU|  SBMO|       SBAE| 656.9|    1|
|2019|    1|    AZU|  SBMO|       SBAE| 724.9|    1|
+----+-----+-------+------+-----------+------+-----+

#### 2020

In [27]:
price2020 = price2020\
    .withColumn(
    "year",
    price2020["year"].cast(IntegerType())
    )\
    .withColumn(
    "month",
    price2020["month"].cast(IntegerType())
    )\
    .withColumn(
    "seats",
    price2020["seats"].cast(IntegerType())
    )\
    .withColumn(
    "price",
    f.regexp_replace('price', ',', '.')
    )

In [28]:
price2020 = price2020\
    .withColumn(
    "price",
    price2020["price"].cast(DoubleType())
    )

In [29]:
price2020.printSchema()

root
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- company: string (nullable = true)
 |-- origin: string (nullable = true)
 |-- destination: string (nullable = true)
 |-- price: double (nullable = true)
 |-- seats: integer (nullable = true)

#### 2021

In [30]:
price2021 = price2021\
    .withColumn(
    "year",
    price2021["year"].cast(IntegerType())
    )\
    .withColumn(
    "month",
    price2021["month"].cast(IntegerType())
    )\
    .withColumn(
    "seats",
    price2021["seats"].cast(IntegerType())
    )\
    .withColumn(
    "price",
    f.regexp_replace('price', ',', '.')
    )

In [31]:
price2021 = price2021\
    .withColumn(
    "price",
    price2021["price"].cast(DoubleType())
    )

In [32]:
price2021.printSchema()

root
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- company: string (nullable = true)
 |-- origin: string (nullable = true)
 |-- destination: string (nullable = true)
 |-- price: double (nullable = true)
 |-- seats: integer (nullable = true)
 |-- _c7: string (nullable = true)

#### 2022

In [33]:
price2022 = price2022\
    .withColumn(
    "year",
    price2022["year"].cast(IntegerType())
    )\
    .withColumn(
    "month",
    price2022["month"].cast(IntegerType())
    )\
    .withColumn(
    "seats",
    price2022["seats"].cast(IntegerType())
    )\
    .withColumn(
    "price",
    f.regexp_replace('price', ',', '.')
    )

In [34]:
price2022 = price2022\
    .withColumn(
    "price",
    price2022["price"].cast(DoubleType())
    )

In [35]:
price2022.printSchema()

root
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- company: string (nullable = true)
 |-- origin: string (nullable = true)
 |-- destination: string (nullable = true)
 |-- price: double (nullable = true)
 |-- seats: integer (nullable = true)

## Codigo ICAO - JSON

###  ICAO da Base de Dados faltando Aeroportos => Utilização de uma nova base de dados

In [36]:
pathIcaoJson = '/home/danilojpfreitas/Documentos/Data Engineer/Projeto/DataPipeline-TarifasAereas/data/icao/icao.csv'

In [37]:
icao = spark.read.csv(pathIcaoJson, sep=',', header=True)

In [38]:
icao.printSchema()

root
 |-- icao: string (nullable = true)
 |-- airport: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)

In [39]:
icao.limit(5).show()

+----+--------------------+----------------+-----+
|icao|             airport|            city|state|
+----+--------------------+----------------+-----+
|SBFE|JOÃO DURVAL CARNEIRO|FEIRA DE SANTANA|   BA|
|SSPB|         PATO BRANCO|     PATO BRANCO|   PR|
|SBRG|          RIO GRANDE|      RIO GRANDE|   RS|
|SBGU|TANCREDO THOMAS D...|      GUARAPUAVA|   PR|
|SSOU|            ARIPUANÃ|        ARIPUANÃ|   MT|
+----+--------------------+----------------+-----+

In [40]:
icao.select("icao", "city", "state").limit(5).show()

+----+----------------+-----+
|icao|            city|state|
+----+----------------+-----+
|SBFE|FEIRA DE SANTANA|   BA|
|SSPB|     PATO BRANCO|   PR|
|SBRG|      RIO GRANDE|   RS|
|SBGU|      GUARAPUAVA|   PR|
|SSOU|        ARIPUANÃ|   MT|
+----+----------------+-----+

In [41]:
icao.where('icao==""').show()

+----+-------+----+-----+
|icao|airport|city|state|
+----+-------+----+-----+
+----+-------+----+-----+

## Dados Estatisticos

In [148]:
pathEstatisticos = '/home/danilojpfreitas/Documentos/Data Engineer/Projeto/DataPipeline-TarifasAereas/data/statistic/Dados_Estatisticos.csv'

In [149]:
estatisticos = spark.read.csv(pathEstatisticos, sep=';', header=True)

In [150]:
estatisticos.printSchema()

root
 |-- EMPRESA_SIGLA: string (nullable = true)
 |-- EMPRESA_NOME: string (nullable = true)
 |-- EMPRESA_NACIONALIDADE: string (nullable = true)
 |-- ANO: string (nullable = true)
 |-- MES: string (nullable = true)
 |-- AEROPORTO_DE_ORIGEM_SIGLA: string (nullable = true)
 |-- AEROPORTO_DE_ORIGEM_NOME: string (nullable = true)
 |-- AEROPORTO_DE_ORIGEM_UF: string (nullable = true)
 |-- AEROPORTO_DE_ORIGEM_REGIAO: string (nullable = true)
 |-- AEROPORTO_DE_ORIGEM_PAIS: string (nullable = true)
 |-- AEROPORTO_DE_ORIGEM_CONTINENTE: string (nullable = true)
 |-- AEROPORTO_DE_DESTINO_SIGLA: string (nullable = true)
 |-- AEROPORTO_DE_DESTINO_NOME: string (nullable = true)
 |-- AEROPORTO_DE_DESTINO_UF: string (nullable = true)
 |-- AEROPORTO_DE_DESTINO_REGIAO: string (nullable = true)
 |-- AEROPORTO_DE_DESTINO_PAIS: string (nullable = true)
 |-- AEROPORTO_DE_DESTINO_CONTINENTE: string (nullable = true)
 |-- NATUREZA: string (nullable = true)
 |-- GRUPO_DE_VOO: string (nullable = true)
 |-- PASSAGEIROS_PAGOS: string (nullable = true)
 |-- PASSAGEIROS_GRATIS: string (nullable = true)
 |-- CARGA_PAGA_KG: string (nullable = true)
 |-- CARGA_GRATIS_KG: string (nullable = true)
 |-- CORREIO_KG: string (nullable = true)
 |-- ASK: string (nullable = true)
 |-- RPK: string (nullable = true)
 |-- ATK: string (nullable = true)
 |-- RTK: string (nullable = true)
 |-- COMBUSTIVEL_LITROS: string (nullable = true)
 |-- DISTANCIA_VOADA_KM: string (nullable = true)
 |-- DECOLAGENS: string (nullable = true)
 |-- CARGA_PAGA_KM: string (nullable = true)
 |-- CARGA_GRATIS_KM: string (nullable = true)
 |-- CORREIO_KM: string (nullable = true)
 |-- ASSENTOS: string (nullable = true)
 |-- PAYLOAD: string (nullable = true)
 |-- HORAS_VOADAS: string (nullable = true)
 |-- BAGAGEM_KG: string (nullable = true)

In [151]:
estatisticos.createOrReplaceTempView('estatisticosSQLView')

In [152]:
estatisticosSelect = spark.sql("""
        SELECT
        EMPRESA_SIGLA AS company,
        EMPRESA_NOME AS companyName,
        EMPRESA_NACIONALIDADE AS nationality,
        ANO AS year,
        MES AS month,
        AEROPORTO_DE_ORIGEM_SIGLA AS origin,
        AEROPORTO_DE_DESTINO_SIGLA AS destination,
        DECOLAGENS AS takeOffs,
        DISTANCIA_VOADA_KM AS distance,
        ASSENTOS AS seats,
        HORAS_VOADAS AS time,
        PASSAGEIROS_PAGOS AS paidPassengers,
        PASSAGEIROS_GRATIS AS noPaidPassengers
        FROM
        estatisticosSQLView
""")

In [153]:
estatisticosSelect.limit(5).show()

+-------+--------------------+-----------+----+-----+------+-----------+--------+--------+-----+------+--------------+----------------+
|company|         companyName|nationality|year|month|origin|destination|takeOffs|distance|seats|  time|paidPassengers|noPaidPassengers|
+-------+--------------------+-----------+----+-----+------+-----------+--------+--------+-----+------+--------------+----------------+
|    AAL|AMERICAN AIRLINES...|ESTRANGEIRA|2000|    1|  KDFW|       SBGR|      30|  247320| 6330|409,08|          3932|             142|
|    AAL|AMERICAN AIRLINES...|ESTRANGEIRA|2000|    1|  KJFK|       SBGL|      29|  224141| 6119| 418,1|          2338|             131|
|    AAL|AMERICAN AIRLINES...|ESTRANGEIRA|2000|    1|  KJFK|       SBGR|      29|  222256| 6119| 411,5|          2892|             127|
|    AAL|AMERICAN AIRLINES...|ESTRANGEIRA|2000|    1|  KMIA|       SBCF|    null|    null| null|  null|           997|              20|
|    AAL|AMERICAN AIRLINES...|ESTRANGEIRA|2000|    1|  KMIA|       SBGL|      31|  208227| 6541| 491,8|          3589|             133|
+-------+--------------------+-----------+----+-----+------+-----------+--------+--------+-----+------+--------------+----------------+

In [154]:
estatisticosSelect = estatisticosSelect\
    .withColumn(
    "year",
    estatisticosSelect["year"].cast(IntegerType())
    )\
    .withColumn(
    "month",
    estatisticosSelect["month"].cast(IntegerType())
    )\
    .withColumn(
    "takeOffs",
    estatisticosSelect["takeOffs"].cast(IntegerType())
    )\
    .withColumn(
    "distance",
    estatisticosSelect["distance"].cast(IntegerType())
    )\
    .withColumn(
    "seats",
    estatisticosSelect["seats"].cast(IntegerType())
    )\
    .withColumn(
    "time",
    f.regexp_replace('time', ',', '.')
    )\
    .withColumn(
    "paidPassengers",
    estatisticosSelect["paidPassengers"].cast(IntegerType())
    )\
    .withColumn(
    "noPaidPassengers",
    estatisticosSelect["noPaidPassengers"].cast(IntegerType())
    )

In [155]:
estatisticosSelect.printSchema()

root
 |-- company: string (nullable = true)
 |-- companyName: string (nullable = true)
 |-- nationality: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- origin: string (nullable = true)
 |-- destination: string (nullable = true)
 |-- takeOffs: integer (nullable = true)
 |-- distance: integer (nullable = true)
 |-- seats: integer (nullable = true)
 |-- time: string (nullable = true)
 |-- paidPassengers: integer (nullable = true)
 |-- noPaidPassengers: integer (nullable = true)

# Carregamento na Processing Zone - Arquivos no Formato Parquet

## Preço por ano das passagens

#### 2019

In [109]:
pathProcessingZone2019 = "/home/danilojpfreitas/Documentos/Data Engineer/Projeto/DataPipeline-TarifasAereas/data/processing/2019"

In [110]:
price2019.write.parquet(
    pathProcessingZone2019,
    mode = 'overwrite'
)

23/06/16 22:15:26 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers

In [111]:
price2019Parquet = spark.read.parquet(
    pathProcessingZone2019
)

In [112]:
price2019Parquet.limit(5).show()

+----+-----+-------+------+-----------+-----+-----+
|year|month|company|origin|destination|price|seats|
+----+-----+-------+------+-----------+-----+-----+
|2019|    5|    AZU|  SBMO|       SBAE|558.9|    3|
|2019|    5|    AZU|  SBMO|       SBAE|633.9|    3|
|2019|    5|    AZU|  SBMO|       SBAE|648.9|    1|
|2019|    5|    AZU|  SBMO|       SBAE|723.9|    2|
|2019|    5|    AZU|  SBMO|       SBAE|773.9|    2|
+----+-----+-------+------+-----------+-----+-----+

In [113]:
price2019Parquet.count()

62530

#### 2020

In [114]:
pathProcessingZone2020 = "/home/danilojpfreitas/Documentos/Data Engineer/Projeto/DataPipeline-TarifasAereas/data/processing/2020"

In [115]:
price2020.write.parquet(
    pathProcessingZone2020,
    mode = 'overwrite'
)

23/06/16 22:15:33 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers

In [116]:
price2020Parquet = spark.read.parquet(
    pathProcessingZone2019
)

In [117]:
price2020Parquet.limit(5).show()

+----+-----+-------+------+-----------+-----+-----+
|year|month|company|origin|destination|price|seats|
+----+-----+-------+------+-----------+-----+-----+
|2019|    5|    AZU|  SBMO|       SBAE|558.9|    3|
|2019|    5|    AZU|  SBMO|       SBAE|633.9|    3|
|2019|    5|    AZU|  SBMO|       SBAE|648.9|    1|
|2019|    5|    AZU|  SBMO|       SBAE|723.9|    2|
|2019|    5|    AZU|  SBMO|       SBAE|773.9|    2|
+----+-----+-------+------+-----------+-----+-----+

#### 2021

In [118]:
pathProcessingZone2021 = "/home/danilojpfreitas/Documentos/Data Engineer/Projeto/DataPipeline-TarifasAereas/data/processing/2021"

In [119]:
price2021.write.parquet(
    pathProcessingZone2021,
    mode = 'overwrite'
)

23/06/16 22:15:37 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
23/06/16 22:15:38 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers

In [120]:
price2021Parquet = spark.read.parquet(
    pathProcessingZone2021
)

In [121]:
price2021Parquet.limit(5).show()

+----+-----+-------+------+-----------+-----+-----+----+
|year|month|company|origin|destination|price|seats| _c7|
+----+-----+-------+------+-----------+-----+-----+----+
|2021|   11|    AZU|  SBMO|       SBAE|538.9|    2|null|
|2021|   11|    AZU|  SBMO|       SBAE|557.9|    1|null|
|2021|   11|    AZU|  SBMO|       SBAE|592.9|    1|null|
|2021|   11|    AZU|  SBMO|       SBAE|697.9|    1|null|
|2021|   11|    AZU|  SBMO|       SBAE|698.9|    1|null|
+----+-----+-------+------+-----------+-----+-----+----+

#### 2022

In [122]:
pathProcessingZone2022 = "/home/danilojpfreitas/Documentos/Data Engineer/Projeto/DataPipeline-TarifasAereas/data/processing/2022"

In [123]:
price2022.write.parquet(
    pathProcessingZone2022,
    mode = 'overwrite'
)

23/06/16 22:15:46 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers

In [124]:
price2022Parquet = spark.read.parquet(
    pathProcessingZone2022
)

In [125]:
price2022Parquet.limit(5).show()

+----+-----+-------+------+-----------+-----+-----+
|year|month|company|origin|destination|price|seats|
+----+-----+-------+------+-----------+-----+-----+
|2019|    5|    AZU|  SBMO|       SBAE|558.9|    3|
|2019|    5|    AZU|  SBMO|       SBAE|633.9|    3|
|2019|    5|    AZU|  SBMO|       SBAE|648.9|    1|
|2019|    5|    AZU|  SBMO|       SBAE|723.9|    2|
|2019|    5|    AZU|  SBMO|       SBAE|773.9|    2|
+----+-----+-------+------+-----------+-----+-----+

## Distância entre Maceió e outras capitais

In [126]:
distParquet = "/home/danilojpfreitas/Documentos/Data Engineer/Projeto/DataPipeline-TarifasAereas/data/processing/distancia"

In [127]:
dist.write.parquet(
    distParquet,
    mode = 'overwrite'
)

In [128]:
dist_parquet = spark.read.parquet(distParquet)

In [129]:
dist_parquet.show()

+--------------+-----------+--------+
|          city|distHighway|distLine|
+--------------+-----------+--------+
|    Rio Branco|       5063|    3513|
|        Macapa|       3545|    2011|
|        Manaus|       5444|    2779|
|      Salvador|        578|     476|
|     Fortaleza|        965|     731|
|      Brasilia|       1920|    1487|
|       Vitoria|       1611|    1282|
|       Goiania|       2119|    1658|
|      Sao Luis|       1584|    1236|
|        Cuiaba|       3111|    2304|
|  Campo Grande|       2830|    2355|
|Belo Horizonte|       1855|    1443|
|         Belem|       2059|    1682|
|   Joao Pessoa|        371|     300|
|      Curitiba|       2805|    2263|
|        Recife|        257|     203|
|      Teresina|       1155|     931|
|      Teresina|       2071|    1674|
|         Natal|        539|     435|
|  Porto Alegre|       3531|    2778|
+--------------+-----------+--------+
only showing top 20 rows

## Codigo ICAO - JSON

In [130]:
icaoParquet = "/home/danilojpfreitas/Documentos/Data Engineer/Projeto/DataPipeline-TarifasAereas/data/processing/icao"

In [131]:
icao.write.parquet(
    icaoParquet,
    mode = 'overwrite'
)

In [132]:
icao_parquet = spark.read.parquet(
    icaoParquet
)

In [133]:
icao_parquet.show()

+----+--------------------+--------------------+-----+
|icao|             airport|                city|state|
+----+--------------------+--------------------+-----+
|SBFE|JOÃO DURVAL CARNEIRO|    FEIRA DE SANTANA|   BA|
|SSPB|         PATO BRANCO|         PATO BRANCO|   PR|
|SBRG|          RIO GRANDE|          RIO GRANDE|   RS|
|SBGU|TANCREDO THOMAS D...|          GUARAPUAVA|   PR|
|SSOU|            ARIPUANÃ|            ARIPUANÃ|   MT|
|SBSI|   FAZENDA ITAGUASSU|            MARACAJU|   MS|
|SWSI|PRESIDENTE JOÃO B...|              SINOPE|   MG|
|SBQV|PEDRO OTACÍLIO FI...|VITÓRIA DA CONQUISTA|   BA|
|SBAA|CONCEIÇÃO DO ARAG...|CONCEIÇÃO DO ARAG...|   PA|
|SBAE|       BAURU/AREALVA|               BAURU|   SP|
|SBAQ|BARTOLOMEU DE GUSMÃO|          ARARAQUARA|   SP|
|SBAR|         SANTA MARIA|             ARACAJU|   SE|
|SBAT|PILOTO OSVALDO MA...|       ALTA FLORESTA|   MT|
|SBAU|           ARAÇATUBA|           ARAÇATUBA|   SP|
|SBAX|          ROMEU ZEMA|               ARAXÁ|   MG|
|SBBE|INTERNACIONAL DE ...|               BELÉM|   PA|
|SBBG|COMANDANTE GUSTAV...|                BAGÉ|   RS|
|SBBH|PAMPULHA - CARLOS...|      BELO HORIZONTE|   MG|
|SBBI|           BACACHERI|            CURITIBA|   PR|
|SBBP|ESTADUAL ARTHUR S...|   BRAGANÇA PAULISTA|   SP|
+----+--------------------+--------------------+-----+
only showing top 20 rows

## Dados Estatisticos

In [177]:
estatisticosSelect.count()

969277

In [157]:
estatisticosSelect.show()

+-------+--------------------+-----------+----+-----+------+-----------+--------+--------+-----+-------+--------------+----------------+
|company|         companyName|nationality|year|month|origin|destination|takeOffs|distance|seats|   time|paidPassengers|noPaidPassengers|
+-------+--------------------+-----------+----+-----+------+-----------+--------+--------+-----+-------+--------------+----------------+
|    AAL|AMERICAN AIRLINES...|ESTRANGEIRA|2000|    1|  KDFW|       SBGR|      30|  247320| 6330| 409.08|          3932|             142|
|    AAL|AMERICAN AIRLINES...|ESTRANGEIRA|2000|    1|  KJFK|       SBGL|      29|  224141| 6119|  418.1|          2338|             131|
|    AAL|AMERICAN AIRLINES...|ESTRANGEIRA|2000|    1|  KJFK|       SBGR|      29|  222256| 6119|  411.5|          2892|             127|
|    AAL|AMERICAN AIRLINES...|ESTRANGEIRA|2000|    1|  KMIA|       SBCF|    null|    null| null|   null|           997|              20|
|    AAL|AMERICAN AIRLINES...|ESTRANGEIRA|2000|    1|  KMIA|       SBGL|      31|  208227| 6541|  491.8|          3589|             133|
|    AAL|AMERICAN AIRLINES...|ESTRANGEIRA|2000|    1|  KMIA|       SBGR|      60|  394440|12660| 937.99|          8147|             204|
|    AAL|AMERICAN AIRLINES...|ESTRANGEIRA|2000|    1|  KMIA|       SGAS|    null|    null| null|   null|           574|              29|
|    AAL|AMERICAN AIRLINES...|ESTRANGEIRA|2000|    1|  KMIA|       SUMU|    null|    null| null|   null|           707|              39|
|    AAL|AMERICAN AIRLINES...|ESTRANGEIRA|2000|    1|  SBCF|       KMIA|    null|    null| null|   null|          1017|              12|
|    AAL|AMERICAN AIRLINES...|ESTRANGEIRA|2000|    1|  SBCF|       SBGL|      31|   11222| 6541| 723.99|            31|              28|
|    AAL|AMERICAN AIRLINES...|ESTRANGEIRA|2000|    1|  SBGL|       KJFK|      30|  231870| 6330| 440.01|          3440|             267|
|    AAL|AMERICAN AIRLINES...|ESTRANGEIRA|2000|    1|  SBGL|       KMIA|      31|  208227| 6541| 495.26|          4417|             253|
|    AAL|AMERICAN AIRLINES...|ESTRANGEIRA|2000|    1|  SBGL|       SBCF|      31|   11222| 6541| 722.15|             0|              14|
|    AAL|AMERICAN AIRLINES...|ESTRANGEIRA|2000|    1|  SBGR|       KDFW|      31|  255564| 6541| 456.84|          5016|             161|
|    AAL|AMERICAN AIRLINES...|ESTRANGEIRA|2000|    1|  SBGR|       KJFK|      29|  222256| 6119| 422.04|          3699|             202|
|    AAL|AMERICAN AIRLINES...|ESTRANGEIRA|2000|    1|  SBGR|       KMIA|     119|  782306|25109|1862.36|         14835|             594|
|    AAL|AMERICAN AIRLINES...|ESTRANGEIRA|2000|    1|  SBGR|       SGAS|      31|   35247| 6541| 725.03|          1442|              38|
|    AAL|AMERICAN AIRLINES...|ESTRANGEIRA|2000|    1|  SBGR|       SUMU|      31|   48670| 6541| 707.98|          1593|              86|
|    AAL|AMERICAN AIRLINES...|ESTRANGEIRA|2000|    1|  SGAS|       KMIA|    null|    null| null|   null|           657|              32|
|    AAL|AMERICAN AIRLINES...|ESTRANGEIRA|2000|    1|  SGAS|       SBGR|      30|   34110| 6330| 631.41|          2130|              93|
+-------+--------------------+-----------+----+-----+------+-----------+--------+--------+-----+-------+--------------+----------------+
only showing top 20 rows

In [147]:
estatisticosSelect.where('year == 2000').show()

+-------+--------------------+-----------+----+-----+------+-----------+--------+--------+-----+-------+--------------+----------------+
|company|         companyName|nationality|year|month|origin|destination|takeOffs|distance|seats|   time|paidPassengers|noPaidPassengers|
+-------+--------------------+-----------+----+-----+------+-----------+--------+--------+-----+-------+--------------+----------------+
|    AAL|AMERICAN AIRLINES...|ESTRANGEIRA|2000|    1|  KDFW|       SBGR|      30|  247320| 6330| 409.08|          3932|             142|
|    AAL|AMERICAN AIRLINES...|ESTRANGEIRA|2000|    1|  KJFK|       SBGL|      29|  224141| 6119|  418.1|          2338|             131|
|    AAL|AMERICAN AIRLINES...|ESTRANGEIRA|2000|    1|  KJFK|       SBGR|      29|  222256| 6119|  411.5|          2892|             127|
|    AAL|AMERICAN AIRLINES...|ESTRANGEIRA|2000|    1|  KMIA|       SBGL|      31|  208227| 6541|  491.8|          3589|             133|
|    AAL|AMERICAN AIRLINES...|ESTRANGEIRA|2000|    1|  KMIA|       SBGR|      60|  394440|12660| 937.99|          8147|             204|
|    AAL|AMERICAN AIRLINES...|ESTRANGEIRA|2000|    1|  SBCF|       SBGL|      31|   11222| 6541| 723.99|            31|              28|
|    AAL|AMERICAN AIRLINES...|ESTRANGEIRA|2000|    1|  SBGL|       KJFK|      30|  231870| 6330| 440.01|          3440|             267|
|    AAL|AMERICAN AIRLINES...|ESTRANGEIRA|2000|    1|  SBGL|       KMIA|      31|  208227| 6541| 495.26|          4417|             253|
|    AAL|AMERICAN AIRLINES...|ESTRANGEIRA|2000|    1|  SBGL|       SBCF|      31|   11222| 6541| 722.15|             0|              14|
|    AAL|AMERICAN AIRLINES...|ESTRANGEIRA|2000|    1|  SBGR|       KDFW|      31|  255564| 6541| 456.84|          5016|             161|
|    AAL|AMERICAN AIRLINES...|ESTRANGEIRA|2000|    1|  SBGR|       KJFK|      29|  222256| 6119| 422.04|          3699|             202|
|    AAL|AMERICAN AIRLINES...|ESTRANGEIRA|2000|    1|  SBGR|       KMIA|     119|  782306|25109|1862.36|         14835|             594|
|    AAL|AMERICAN AIRLINES...|ESTRANGEIRA|2000|    1|  SBGR|       SGAS|      31|   35247| 6541| 725.03|          1442|              38|
|    AAL|AMERICAN AIRLINES...|ESTRANGEIRA|2000|    1|  SBGR|       SUMU|      31|   48670| 6541| 707.98|          1593|              86|
|    AAL|AMERICAN AIRLINES...|ESTRANGEIRA|2000|    1|  SGAS|       SBGR|      30|   34110| 6330| 631.41|          2130|              93|
|    AAL|AMERICAN AIRLINES...|ESTRANGEIRA|2000|    1|  SSUM|       SBGR|       1|     698|  211|  20.77|            76|               3|
|    AAL|AMERICAN AIRLINES...|ESTRANGEIRA|2000|    1|  SUMU|       SBGR|      29|   45530| 6119| 606.98|          2917|             121|
|    AAL|AMERICAN AIRLINES...|ESTRANGEIRA|2000|    2|  KDFW|       SBGR|      26|  214344| 5486| 358.12|          3850|             159|
|    AAL|AMERICAN AIRLINES...|ESTRANGEIRA|2000|    2|  KJFK|       SBGL|      27|  208683| 5697| 380.65|          2455|             170|
|    AAL|AMERICAN AIRLINES...|ESTRANGEIRA|2000|    2|  KJFK|       SBGR|      28|  214592| 5908| 404.46|          2647|             125|
+-------+--------------------+-----------+----+-----+------+-----------+--------+--------+-----+-------+--------------+----------------+
only showing top 20 rows

In [175]:
estatisticos2019To2022MCZ = estatisticosSelect.where('year >= 2019').where('year <= 2022').where('origin == "SBMO"')

In [176]:
estatisticos2019To2022MCZ.count()

1447

In [179]:
estatisticosParquet = '/home/danilojpfreitas/Documentos/Data Engineer/Projeto/DataPipeline-TarifasAereas/data/processing/estatisticos'

In [180]:
estatisticos2019To2022MCZ.write.parquet(
    estatisticosParquet,
    mode = 'overwrite'
)

In [181]:
estatisticosParquet = spark.read.parquet(
    estatisticosParquet
)

In [182]:
estatisticosParquet.show()

+-------+--------------------+-----------+----+-----+------+-----------+--------+--------+-----+-------+--------------+----------------+
|company|         companyName|nationality|year|month|origin|destination|takeOffs|distance|seats|   time|paidPassengers|noPaidPassengers|
+-------+--------------------+-----------+----+-----+------+-----------+--------+--------+-----+-------+--------------+----------------+
|    TAM|TAM LINHAS AÉREAS...| BRASILEIRA|2019|   11|  SBMO|       SBBR|      60|   89580|11512| 140.46|          9467|              42|
|    TAM|TAM LINHAS AÉREAS...| BRASILEIRA|2019|   11|  SBMO|       SBGR|     141|  270720|27208| 419.36|         22874|             202|
|    TAM|TAM LINHAS AÉREAS...| BRASILEIRA|2019|   11|  SBMO|       SBPA|       5|   13910|  882|  20.01|           743|               0|
|    TAM|TAM LINHAS AÉREAS...| BRASILEIRA|2019|   11|  SBMO|       SBRP|       1|    1821|  162|   3.27|             0|               0|
|    TAM|TAM LINHAS AÉREAS...| BRASILEIRA|2019|   11|  SBMO|       SBSP|       5|    9740|  858|  14.42|           728|               4|
|    TAM|TAM LINHAS AÉREAS...| BRASILEIRA|2019|   11|  SBMO|       SBSV|       2|     936|  394|   2.48|             0|               0|
|    TAM|TAM LINHAS AÉREAS...| BRASILEIRA|2019|   12|  SBMO|       SBBR|      62|   92566|13496| 144.47|          9041|              62|
|    TAM|TAM LINHAS AÉREAS...| BRASILEIRA|2019|   12|  SBMO|       SBGR|     164|  314880|32154| 491.92|         26224|             195|
|    TAM|TAM LINHAS AÉREAS...| BRASILEIRA|2019|   12|  SBMO|       SBPA|       4|   11128|  702|  15.46|           590|               0|
|    TAM|TAM LINHAS AÉREAS...| BRASILEIRA|2019|   12|  SBMO|       SBSP|       3|    5844|  540|   9.02|           331|               0|
|    TAM|TAM LINHAS AÉREAS...| BRASILEIRA|2019|   12|  SBMO|       SBSP|       4|    7792|  714|  11.98|           452|               1|
|    TAM|TAM LINHAS AÉREAS...| BRASILEIRA|2019|   12|  SBMO|       SBSV|       1|     468|  174|   1.02|             0|               0|
|    ACN|AZUL CONECTA LTDA...| BRASILEIRA|2020|    4|  SBMO|       SBAR|       5|    1080|    0|5.43333|             0|               0|
|    ACN|AZUL CONECTA LTDA...| BRASILEIRA|2020|    4|  SBMO|       SBCF|    null|    null| null|   null|             0|               0|
|    ACN|AZUL CONECTA LTDA...| BRASILEIRA|2020|    4|  SBMO|       SBPS|    null|    null| null|   null|             0|               0|
|    ACN|AZUL CONECTA LTDA...| BRASILEIRA|2020|    4|  SBMO|       SBSV|    null|    null| null|   null|             0|               0|
|    ACN|AZUL CONECTA LTDA...| BRASILEIRA|2020|    4|  SBMO|       SBVC|    null|    null| null|   null|             0|               0|
|    ACN|AZUL CONECTA LTDA...| BRASILEIRA|2020|    5|  SBMO|       SBAR|       2|     432|    0|    2.1|             0|               0|
|    ACN|AZUL CONECTA LTDA...| BRASILEIRA|2020|    5|  SBMO|       SBCF|    null|    null| null|   null|             0|               0|
|    ACN|AZUL CONECTA LTDA...| BRASILEIRA|2020|    5|  SBMO|       SBKG|       1|     250|    9|1.11667|             2|               0|
+-------+--------------------+-----------+----+-----+------+-----------+--------+--------+-----+-------+--------------+----------------+
only showing top 20 rows

In [183]:
estatisticosParquet.count()

1447

# Análise dos Dados

## Views

In [166]:
price2019Parquet.createOrReplaceTempView("2019View")
price2020Parquet.createOrReplaceTempView("2020View")
price2021Parquet.createOrReplaceTempView("2021View")
price2022Parquet.createOrReplaceTempView("2022View")

In [167]:
spark.sql("SELECT * FROM 2019View").show(5)

+----+-----+-------+------+-----------+-----+-----+
|year|month|company|origin|destination|price|seats|
+----+-----+-------+------+-----------+-----+-----+
|2019|    5|    AZU|  SBMO|       SBAE|558.9|    3|
|2019|    5|    AZU|  SBMO|       SBAE|633.9|    3|
|2019|    5|    AZU|  SBMO|       SBAE|648.9|    1|
|2019|    5|    AZU|  SBMO|       SBAE|723.9|    2|
|2019|    5|    AZU|  SBMO|       SBAE|773.9|    2|
+----+-----+-------+------+-----------+-----+-----+
only showing top 5 rows

In [168]:
spark.sql("""
        SELECT 
        destination, count(origin)
        FROM
        2019View
        GROUP BY destination
        ORDER BY count(origin) DESC;
        """).show(1000)

+-----------+-------------+
|destination|count(origin)|
+-----------+-------------+
|       SBGR|         8240|
|       SBBR|         4852|
|       SBGL|         3411|
|       SBPA|         3011|
|       SBKP|         2938|
|       SBCF|         2925|
|       SBCT|         2370|
|       SBSP|         2266|
|       SBRJ|         1857|
|       SBCG|         1823|
|       SBFL|         1794|
|       SBSV|         1630|
|       SBGO|         1539|
|       SBCY|         1527|
|       SBRP|         1314|
|       SBEG|         1232|
|       SBLO|         1208|
|       SBVT|         1197|
|       SBSR|         1135|
|       SBRF|         1018|
|       SBPV|         1016|
|       SBBE|          931|
|       SBFZ|          928|
|       SBUL|          861|
|       SBFI|          778|
|       SBNF|          729|
|       SBRB|          703|
|       SBSL|          665|
|       SBTE|          621|
|       SBPJ|          518|
|       SBSG|          513|
|       SBMG|          430|
|       SBJV|          426|
|       SBCH|          388|
|       SBMQ|          366|
|       SBBV|          307|
|       SBDN|          279|
|       SBIZ|          265|
|       SBMA|          244|
|       SBAU|          220|
|       SBJP|          194|
|       SBPL|          194|
|       SBAE|          190|
|       SBCA|          181|
|       SBAR|          169|
|       SBSN|          154|
|       SBMK|          153|
|       SBIL|          153|
|       SBPF|          139|
|       SBJA|          135|
|       SBUR|          134|
|       SBML|          123|
|       SBQV|          119|
|       SBPS|          106|
|       SBCX|          104|
|       SBMS|           94|
|       SBTG|           91|
|       SWLC|           85|
|       SBJI|           84|
|       SWSI|           80|
|       SBJU|           79|
|       SBZM|           70|
|       SBFN|           68|
|       SBDO|           68|
|       SSKW|           65|
|       SBCZ|           64|
|       SBIP|           54|
|       SBPK|           52|
|       SNBR|           52|
|       SBHT|           52|
|       SBVH|           52|
|       SBAT|           48|
|       SBSI|           47|
|       SBRD|           39|
|       SBSM|           35|
|       SBUG|           33|
|       SBGV|           33|
|       SBKG|           27|
|       SBPG|           27|
|       SWGN|           27|
|       SBLJ|           26|
|       SBCJ|           25|
|       SNTF|           24|
|       SBCR|           23|
|       SBNM|           22|
|       SBCP|           20|
|       SSPB|           20|
|       SBVG|           18|
|       SBVC|           17|
|       SBSO|           16|
|       SBBW|           13|
|       SBTT|           13|
|       SBAC|           12|
|       SBAQ|           10|
|       SBBG|           10|
|       SBCB|            9|
|       SBTD|            9|
|       SBAX|            9|
|       SBDB|            9|
|       SSSB|            7|
|       SSZR|            6|
|       SSKM|            6|
|       SBME|            6|
|       SSCT|            6|
|       SNBA|            5|
|       SBRG|            5|
|       SSFB|            5|
|       SBCN|            4|
|       SBGU|            4|
|       SSUV|            3|
|       SBLE|            3|
|       SBFE|            3|
|       SSGY|            2|
|       SBJE|            2|
|       SSPI|            2|
|       SBTF|            2|
|       SSVL|            2|
|       SSOG|            1|
|       SIMK|            1|
|       SBSJ|            1|
+-----------+-------------+

In [169]:
icao_parquet.createOrReplaceTempView("icaoView")

In [170]:
spark.sql("""
        SELECT 
        *
        FROM
        icaoView;
        """).show(10)

+----+--------------------+--------------------+-----+
|icao|             airport|                city|state|
+----+--------------------+--------------------+-----+
|SBFE|JOÃO DURVAL CARNEIRO|    FEIRA DE SANTANA|   BA|
|SSPB|         PATO BRANCO|         PATO BRANCO|   PR|
|SBRG|          RIO GRANDE|          RIO GRANDE|   RS|
|SBGU|TANCREDO THOMAS D...|          GUARAPUAVA|   PR|
|SSOU|            ARIPUANÃ|            ARIPUANÃ|   MT|
|SBSI|   FAZENDA ITAGUASSU|            MARACAJU|   MS|
|SWSI|PRESIDENTE JOÃO B...|              SINOPE|   MG|
|SBQV|PEDRO OTACÍLIO FI...|VITÓRIA DA CONQUISTA|   BA|
|SBAA|CONCEIÇÃO DO ARAG...|CONCEIÇÃO DO ARAG...|   PA|
|SBAE|       BAURU/AREALVA|               BAURU|   SP|
+----+--------------------+--------------------+-----+
only showing top 10 rows

In [171]:
dist_parquet.createOrReplaceTempView("distView")

In [172]:
spark.sql("""
        SELECT
        *
        FROM
        distView;
        """).show(10)

+----------+-----------+--------+
|      city|distHighway|distLine|
+----------+-----------+--------+
|Rio Branco|       5063|    3513|
|    Macapa|       3545|    2011|
|    Manaus|       5444|    2779|
|  Salvador|        578|     476|
| Fortaleza|        965|     731|
|  Brasilia|       1920|    1487|
|   Vitoria|       1611|    1282|
|   Goiania|       2119|    1658|
|  Sao Luis|       1584|    1236|
|    Cuiaba|       3111|    2304|
+----------+-----------+--------+
only showing top 10 rows

In [184]:
estatisticosParquet.createOrReplaceTempView("estatisticosView")

In [185]:
spark.sql("""
    SELECT
    *
    FROM
    estatisticosView
""").show(10)

+-------+--------------------+-----------+----+-----+------+-----------+--------+--------+-----+------+--------------+----------------+
|company|         companyName|nationality|year|month|origin|destination|takeOffs|distance|seats|  time|paidPassengers|noPaidPassengers|
+-------+--------------------+-----------+----+-----+------+-----------+--------+--------+-----+------+--------------+----------------+
|    TAM|TAM LINHAS AÉREAS...| BRASILEIRA|2019|   11|  SBMO|       SBBR|      60|   89580|11512|140.46|          9467|              42|
|    TAM|TAM LINHAS AÉREAS...| BRASILEIRA|2019|   11|  SBMO|       SBGR|     141|  270720|27208|419.36|         22874|             202|
|    TAM|TAM LINHAS AÉREAS...| BRASILEIRA|2019|   11|  SBMO|       SBPA|       5|   13910|  882| 20.01|           743|               0|
|    TAM|TAM LINHAS AÉREAS...| BRASILEIRA|2019|   11|  SBMO|       SBRP|       1|    1821|  162|  3.27|             0|               0|
|    TAM|TAM LINHAS AÉREAS...| BRASILEIRA|2019|   11|  SBMO|       SBSP|       5|    9740|  858| 14.42|           728|               4|
|    TAM|TAM LINHAS AÉREAS...| BRASILEIRA|2019|   11|  SBMO|       SBSV|       2|     936|  394|  2.48|             0|               0|
|    TAM|TAM LINHAS AÉREAS...| BRASILEIRA|2019|   12|  SBMO|       SBBR|      62|   92566|13496|144.47|          9041|              62|
|    TAM|TAM LINHAS AÉREAS...| BRASILEIRA|2019|   12|  SBMO|       SBGR|     164|  314880|32154|491.92|         26224|             195|
|    TAM|TAM LINHAS AÉREAS...| BRASILEIRA|2019|   12|  SBMO|       SBPA|       4|   11128|  702| 15.46|           590|               0|
|    TAM|TAM LINHAS AÉREAS...| BRASILEIRA|2019|   12|  SBMO|       SBSP|       3|    5844|  540|  9.02|           331|               0|
+-------+--------------------+-----------+----+-----+------+-----------+--------+--------+-----+------+--------------+----------------+
only showing top 10 rows

### Testes com Estatisticos

In [ ]:
spark.sql("""
        SELECT
        A.year, A.month, A.company, B.companyName, C.city,
        C.state, A.destination, A.price, A.seatsPrice, 
        B.takeOffs, B.distance, B.seats AS seatsAll,
        B.time
        FROM
        2019View A
        LEFT JOIN
        (SELECT * FROM estatisticosView WHERE year == 2019) B
        ON A.month = B.month AND
""")

## Junção das tabelas por ano

### 2019

In [88]:
data2019 = spark.sql("""
        SELECT 
        A.year, A.month, A.company, B.airport, B.city, B.state, A.destination, A.price, A.seats, C.distLine AS distance
        FROM
        2019View A
        LEFT JOIN
        icaoView B
        ON A.destination = B.icao
        LEFT JOIN
        distView C
        ON B.city = C.city
        """)

In [89]:
pathData2019 = "/home/danilojpfreitas/Documentos/Data Engineer/Projeto/DataPipeline-TarifasAereas/data/curated/data/2019"

In [90]:
data2019.write.option("header",True).option("delimiter", ",").mode("overwrite").csv(pathData2019)

In [91]:
curated2019 = spark.read.csv(pathData2019, sep=',', header=True)

In [93]:
curated2019.limit(10).show()

+----+-----+-------+-------------+-----+-----+-----------+------+-----+--------+
|year|month|company|      airport| city|state|destination| price|seats|distance|
+----+-----+-------+-------------+-----+-----+-----------+------+-----+--------+
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE| 558.9|    3|    null|
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE| 633.9|    3|    null|
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE| 648.9|    1|    null|
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE| 723.9|    2|    null|
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE| 773.9|    2|    null|
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE| 845.9|    6|    null|
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE|1007.9|    3|    null|
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE|1080.9|    1|    null|
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE|1372.9|    2|    null|
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE|1453.9|    1|    null|
+----+-----+-------+-------------+-----+-----+-----------+------+-----+--------+

In [101]:
curated2019.where(curated2019.city.isNull()).show()

+----+-----+-------+-------+----+-----+-----------+-----+-----+--------+
|year|month|company|airport|city|state|destination|price|seats|distance|
+----+-----+-------+-------+----+-----+-----------+-----+-----+--------+
+----+-----+-------+-------+----+-----+-----------+-----+-----+--------+

### 2020

In [102]:
data2020 = spark.sql("""
        SELECT 
        A.year, A.month, A.company, B.airport, B.city, B.state, A.destination, A.price, A.seats, C.distLine AS distance
        FROM
        2019View A
        LEFT JOIN
        icaoView B
        ON A.destination = B.icao
        LEFT JOIN
        distView C
        ON B.city = C.city
        """)

In [103]:
pathData2020 = "/home/danilojpfreitas/Documentos/Data Engineer/Projeto/DataPipeline-TarifasAereas/data/curated/data/2020"

In [104]:
data2020.write.option("header",True).option("delimiter", ",").mode("overwrite").csv(pathData2020)

In [105]:
curated2020 = spark.read.csv(pathData2020, sep=',', header=True)

In [106]:
curated2020.limit(10).show()

+----+-----+-------+-------------+-----+-----+-----------+------+-----+--------+
|year|month|company|      airport| city|state|destination| price|seats|distance|
+----+-----+-------+-------------+-----+-----+-----------+------+-----+--------+
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE| 558.9|    3|    null|
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE| 633.9|    3|    null|
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE| 648.9|    1|    null|
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE| 723.9|    2|    null|
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE| 773.9|    2|    null|
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE| 845.9|    6|    null|
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE|1007.9|    3|    null|
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE|1080.9|    1|    null|
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE|1372.9|    2|    null|
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE|1453.9|    1|    null|
+----+-----+-------+-------------+-----+-----+-----------+------+-----+--------+

In [110]:
curated2020.where(curated2020.city.isNull()).show()

+----+-----+-------+-------+----+-----+-----------+-----+-----+--------+
|year|month|company|airport|city|state|destination|price|seats|distance|
+----+-----+-------+-------+----+-----+-----------+-----+-----+--------+
+----+-----+-------+-------+----+-----+-----------+-----+-----+--------+

### 2021

In [111]:
data2021 = spark.sql("""
        SELECT 
        A.year, A.month, A.company, B.airport, B.city, B.state, A.destination, A.price, A.seats, C.distLine AS distance
        FROM
        2019View A
        LEFT JOIN
        icaoView B
        ON A.destination = B.icao
        LEFT JOIN
        distView C
        ON B.city = C.city
        """)

In [112]:
pathData2021 = "/home/danilojpfreitas/Documentos/Data Engineer/Projeto/DataPipeline-TarifasAereas/data/curated/data/2021"

In [113]:
data2021.write.option("header",True).option("delimiter", ",").mode("overwrite").csv(pathData2021)

In [114]:
curated2021 = spark.read.csv(pathData2021, sep=',', header=True)

In [115]:
curated2021.limit(10).show()

+----+-----+-------+-------------+-----+-----+-----------+------+-----+--------+
|year|month|company|      airport| city|state|destination| price|seats|distance|
+----+-----+-------+-------------+-----+-----+-----------+------+-----+--------+
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE| 558.9|    3|    null|
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE| 633.9|    3|    null|
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE| 648.9|    1|    null|
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE| 723.9|    2|    null|
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE| 773.9|    2|    null|
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE| 845.9|    6|    null|
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE|1007.9|    3|    null|
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE|1080.9|    1|    null|
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE|1372.9|    2|    null|
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE|1453.9|    1|    null|
+----+-----+-------+-------------+-----+-----+-----------+------+-----+--------+

In [117]:
curated2021.where(curated2021.city.isNull()).show()

+----+-----+-------+-------+----+-----+-----------+-----+-----+--------+
|year|month|company|airport|city|state|destination|price|seats|distance|
+----+-----+-------+-------+----+-----+-----------+-----+-----+--------+
+----+-----+-------+-------+----+-----+-----------+-----+-----+--------+

### 2022

In [118]:
data2022 = spark.sql("""
        SELECT 
        A.year, A.month, A.company, B.airport, B.city, B.state, A.destination, A.price, A.seats, C.distLine AS distance
        FROM
        2019View A
        LEFT JOIN
        icaoView B
        ON A.destination = B.icao
        LEFT JOIN
        distView C
        ON B.city = C.city
        """)

In [119]:
pathData2022 = "/home/danilojpfreitas/Documentos/Data Engineer/Projeto/DataPipeline-TarifasAereas/data/curated/data/2022"

In [120]:
data2022.write.option("header",True).option("delimiter", ",").mode("overwrite").csv(pathData2022)

In [121]:
curated2022 = spark.read.csv(pathData2021, sep=',', header=True)

In [122]:
curated2022.limit(10).show()

+----+-----+-------+-------------+-----+-----+-----------+------+-----+--------+
|year|month|company|      airport| city|state|destination| price|seats|distance|
+----+-----+-------+-------------+-----+-----+-----------+------+-----+--------+
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE| 558.9|    3|    null|
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE| 633.9|    3|    null|
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE| 648.9|    1|    null|
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE| 723.9|    2|    null|
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE| 773.9|    2|    null|
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE| 845.9|    6|    null|
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE|1007.9|    3|    null|
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE|1080.9|    1|    null|
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE|1372.9|    2|    null|
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE|1453.9|    1|    null|
+----+-----+-------+-------------+-----+-----+-----------+------+-----+--------+

In [123]:
curated2022.where(curated2022.city.isNull()).show()

+----+-----+-------+-------+----+-----+-----------+-----+-----+--------+
|year|month|company|airport|city|state|destination|price|seats|distance|
+----+-----+-------+-------+----+-----+-----------+-----+-----+--------+
+----+-----+-------+-------+----+-----+-----------+-----+-----+--------+

## Média de preço por destino

In [124]:
data2019.createOrReplaceTempView("data2019View")
data2020.createOrReplaceTempView("data2020View")
data2021.createOrReplaceTempView("data2021View")
data2022.createOrReplaceTempView("data2022View")

In [125]:
spark.sql("""SELECT * FROM data2019View""").show(10)

+----+-----+-------+-------------+-----+-----+-----------+------+-----+--------+
|year|month|company|      airport| city|state|destination| price|seats|distance|
+----+-----+-------+-------------+-----+-----+-----------+------+-----+--------+
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE| 558.9|    3|    null|
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE| 633.9|    3|    null|
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE| 648.9|    1|    null|
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE| 723.9|    2|    null|
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE| 773.9|    2|    null|
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE| 845.9|    6|    null|
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE|1007.9|    3|    null|
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE|1080.9|    1|    null|
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE|1372.9|    2|    null|
|2019|    5|    AZU|BAURU/AREALVA|BAURU|   SP|       SBAE|1453.9|    1|    null|
+----+-----+-------+-------------+-----+-----+-----------+------+-----+--------+
only showing top 10 rows

In [126]:
meanPriceCity2019 = spark.sql("""
        SELECT
            city, company, MEAN(price) AS meanPriceByCityAndCompany
        FROM
        data2019View
        GROUP BY city, company
        """)

In [127]:
meanPriceCity2019.show(100)

+--------------------+-------+-------------------------+
|                city|company|meanPriceByCityAndCompany|
+--------------------+-------+-------------------------+
|            CURITIBA|    TAM|        796.3944881889763|
|       VÁRZEA GRANDE|    AZU|        798.8207035175888|
|             CONFINS|    GLO|        821.6742156862734|
|              ILHÉUS|    ONE|        636.6329166666667|
|SÃO JOSÉ DO RIO P...|    AZU|        826.8403503184713|
|            SALVADOR|    AZU|        788.4230683918651|
|        CAMPO GRANDE|    TAM|        655.8104068857589|
|             CORUMBÁ|    AZU|        966.4886956521739|
| FERNANDO DE NORONHA|    AZU|        829.5367647058822|
|        CAMPO GRANDE|    ONE|        706.2337878787878|
|      RIO DE JANEIRO|    GLO|        856.7245210494181|
|            BRASÍLIA|    ONE|        812.4303932584269|
|         TRÊS LAGOAS|    AZU|        762.9761538461537|
|            SANTARÉM|    AZU|        672.0307619047617|
|       CAXIAS DO SUL|    AZU|        690.6317391304348|
|             GOIÂNIA|    AZU|        850.0295795795798|
|VITÓRIA DA CONQUISTA|    GLO|       1024.4304347826087|
|      RIBEIRÃO PRETO|    AZU|        833.2781879194624|
|              MARABÁ|    GLO|        964.0272727272726|
|           SÃO PAULO|    GLO|        805.5867267032078|
|            ALTAMIRA|    AZU|        925.0180769230768|
|        PORTO ALEGRE|    TAM|        747.1549330900242|
|            SÃO LUÍS|    TAM|         895.150457142857|
|       FOZ DO IGUAÇU|    ONE|        729.5559999999999|
|              SINOPE|    AZU|        886.6948749999999|
|       MONTES CLAROS|    GLO|        827.2502564102564|
|           GUARULHOS|    GLO|        694.0834957532402|
|         PORTO VELHO|    TAM|        684.8230265210608|
|        RONDONÓPOLIS|    AZU|        813.5923076923076|
|               SINOP|    GLO|        688.8212765957445|
|            TERESINA|    TAM|        735.1664935064935|
|          UBERLÂNDIA|    GLO|        941.9658450704229|
|          IMPERATRIZ|    TAM|        818.1289411764707|
|            CAMPINAS|    TAM|        647.7623455233291|
|            CAMPINAS|    AZU|        791.4123285811249|
|            SÃO LUÍS|    AZU|         822.237730673317|
|              MANAUS|    GLO|        906.4083870967748|
|        CAMPO GRANDE|    GLO|        792.5955414012741|
|      CAMPINA GRANDE|    GLO|        903.6500000000001|
|           FORTALEZA|    AZU|        885.0337464387449|
|             CONFINS|    ONE|        781.4903571428571|
|           ARAÇATUBA|    AZU|         735.688376963351|
|SÃO JOSÉ DO RIO P...|    GLO|        808.3090909090913|
|         PASSO FUNDO|    AZU|        903.2798936170212|
|VITÓRIA DA CONQUISTA|    AZU|        593.3050892857142|
|          RIO BRANCO|    TAM|        651.8297205588823|
|      RIBEIRÃO PRETO|    GLO|        925.7418376068382|
|             VITÓRIA|    GLO|        855.7047196261686|
|           FORTALEZA|    TAM|        892.7562937062938|
|            BRASÍLIA|    GLO|        721.6036414048036|
|           ARAÇATUBA|    GLO|        704.3862068965516|
| PRESIDENTE PRUDENTE|    AZU|        732.7918478260872|
|          RIO BRANCO|    GLO|        805.6608910891093|
|           CABO FRIO|    AZU|        610.9000000000001|
|            CASCAVEL|    GLO|        734.4345588235293|
|           JOINVILLE|    GLO|        856.4479754601232|
|           JI-PARANÁ|    AZU|        858.9461904761904|
|      RIO DE JANEIRO|    AZU|        769.0464591078046|
|         PARAUAPEBAS|    AZU|        935.8583333333332|
|           JAGUARUNA|    TAM|        894.3331999999999|
|         PORTO VELHO|    AZU|        810.2073061224496|
|   JUAZEIRO DO NORTE|    AZU|        687.6215189873417|
|           RIO VERDE|    AZU|        637.5097647058823|
|            CURITIBA|    GLO|        852.8853410740189|
|       FLORIANÓPOLIS|    GLO|        799.9154095238096|
|           JOINVILLE|    TAM|        722.5721276595744|
|            CASCAVEL|    AZU|        819.1332743362831|
|         JOÃO PESSOA|    AZU|        832.1488082901559|
|              MANAUS|    AZU|        761.8572952853605|
|        PORTO SEGURO|    GLO|        809.9000000000001|
|           JOINVILLE|    AZU|        754.0244970414202|
|             ARACAJU|    GLO|                   1217.9|
|              MARABÁ|    TAM|        722.6960227272727|
|              RECIFE|    AZU|        588.7950645481619|
|      CAMPINA GRANDE|    AZU|        941.5878260869565|
| TEIXEIRA DE FREITAS|    AZU|        873.3195833333334|
|       FOZ DO IGUAÇU|    TAM|        824.4848780487806|
|             GOIÂNIA|    ONE|                 731.2879|
|          UBERLÂNDIA|    AZU|        777.2115126050426|
|           BOA VISTA|    AZU|        881.3338356164383|
|           PETROLINA|    AZU|        706.2000645161291|
|             CHAPECÓ|    GLO|        748.5492129629636|
|             GOIÂNIA|    GLO|        910.5457170923378|
|     CRUZEIRO DO SUL|    GLO|        671.0328124999999|
|CAMPOS DOS GOYTAC...|    AZU|                    663.7|
|            SÃO LUÍS|    GLO|        1043.066629213483|
|             CHAPECÓ|    ONE|                813.33625|
|             VITÓRIA|    ONE|                725.11875|
|             CHAPECÓ|    AZU|        758.8324390243906|
|            CURITIBA|    ONE|        647.9995049504952|
|      RIO DE JANEIRO|    ONE|        788.1187845303868|
|  SANTANA DO PARAÍSO|    AZU|        983.0699999999999|
|        PORTO SEGURO|    TAM|       1269.8284374999998|
|             SORRISO|    AZU|                 668.4625|
|             ARACATI|    AZU|                 371.5325|
|              TOLEDO|    AZU|        711.5666666666667|
|         PASSO FUNDO|    GLO|        800.1466666666666|
|              CACOAL|    AZU|       1062.7563076923075|
|              MANAUS|    TAM|        766.1754733218588|
|       FLORIANÓPOLIS|    AZU|        644.5563841807916|
+--------------------+-------+-------------------------+
only showing top 100 rows